/* Fonts */
@font-serif:  Merriweather,Georgia,serif;
@font-sansserif: system-ui,-apple-system,Roboto,"Segoe UI",Ubuntu,Cantarell,sans-serif;
@font-monospace:  Iosevka,monospace;
@font-size: 112.5%;
@font-size-small: 100%;
@font-size-footnoteref: .8em;
@line-height: 1.5;

/* Colors */
@dark-mode: false;		/* default value */
@color-foreground: if(@dark-mode = false, black, #f0f0f0);
@color-footer: #222;
@color-theme: if(@dark-mode = false, #21519C, #6fa7ff);
@color-accent: if(@dark-mode = false, #B80F28, #ff677e);
@color-low: if(@dark-mode = false, #6F6F6F, #B0B0B0);
@color-background1: if(@dark-mode = false, white, #121212);
@color-background2: if(@dark-mode = false, #fff1e5, #2f0909);
@color-link-notvisited: if(@dark-mode = false, @color-theme, darken(@color-link-notvisited-active, 8%));
@color-link-notvisited-active: if(@dark-mode = false, lighten(@color-link-notvisited, 20%), @color-theme);
@color-link-visited: if(@dark-mode = false, #4f1872, #c3a6ff);
@color-link-visited-active: if(@dark-mode = false, lighten(@color-link-visited, 20%), spin(@color-link-visited, 30));

/* Background from SVGBackgrounds */
@background-opacity: if(@dark-mode = false, 0.3, 0.5);
@background-svg: escape("<svg width='84px' height='48px' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'><path d='M0,0 L12,0 L12,6 L0,6 L0,0 Z M28,8 L40,8 L40,14 L28,14 L28,8 Z M42,0 L54,0 L54,6 L42,6 L42,0 Z M56,0 L68,0 L68,6 L56,6 L56,0 Z M56,8 L68,8 L68,14 L56,14 L56,8 Z M42,8 L54,8 L54,14 L42,14 L42,8 Z M42,24 L54,24 L54,30 L42,30 L42,24 Z M56,16 L68,16 L68,22 L56,22 L56,16 Z M70,16 L82,16 L82,22 L70,22 L70,16 Z M70,0 L82,0 L82,6 L70,6 L70,0 Z M28,32 L40,32 L40,38 L28,38 L28,32 Z M14,16 L26,16 L26,22 L14,22 L14,16 Z M0,24 L12,24 L12,30 L0,30 L0,24 Z M0,32 L12,32 L12,38 L0,38 L0,32 Z M14,32 L26,32 L26,38 L14,38 L14,32 Z M28,40 L40,40 L40,46 L28,46 L28,40 Z M14,40 L26,40 L26,46 L14,46 L14,40 Z M42,40 L54,40 L54,46 L42,46 L42,40 Z M56,32 L68,32 L68,38 L56,38 L56,32 Z M56,24 L68,24 L68,30 L56,30 L56,24 Z M70,32 L82,32 L82,38 L70,38 L70,32 Z M70,40 L82,40 L82,46 L70,46 L70,40 Z M14,24 L26,24 L26,30 L14,30 L14,24 Z M28,16 L40,16 L40,22 L28,22 L28,16 Z M14,8 L26,8 L26,14 L14,14 L14,8 Z M0,8 L12,8 L12,14 L0,14 L0,8 Z' fill='@{color-background2}' fill-opacity='@{background-opacity}'></path></svg>");

/* Dimensions */
@page-width: 45rem;
@left-margin: 10rem;
@admonition-margin: 7rem;
@admonition-gap: 1.2rem;
@minimal-margin: 1.6rem;
@sidenote-width: 22rem;
@sidenote-margin: 4rem;
@menu-height: 2rem;

/* Media query breakpoints. */
@larger: ~"only screen and (min-width: "unit(floor((@page-width + @left-margin + @minimal-margin + @sidenote-width)*@font-size*.01) + 1, em)~")";
@large: ~"only screen and (max-width: "unit(floor((@page-width + @left-margin + @minimal-margin + @sidenote-width)*@font-size*.01), em)~"), print";
@medium: ~"only screen and (max-width: "unit(floor((@page-width + @left-margin + @minimal-margin)*@font-size*.01), em)~")"(if(@dark-mode = false, ~", print", ~""));
@small:  ~"only screen and (max-width: "unit(floor((@page-width + 2*@minimal-margin)*@font-size*.01), em)~")"(if(@dark-mode = false, ~", print", ~""));
@smaller: ~"only screen and (max-width: "unit(floor((@page-width + 2*@minimal-margin)*@font-size*.01*0.66), em)~")";

/* Enable/disable grid */
@grid: false;

/* Additional properties for sprites */
.sprite() {
    display: inline-block;
    a& {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
}

/* Compute font-size and line-height to ensure proper vertical rhythm */
.font-size (@factor: 1) {
    font-size: @factor * 1em;
    line-height: round((ceil((@factor/@line-height))*@line-height/@factor), 3);
}

/* Link-related stuff. When supported, we use a different color for
   underlines. Otherwise, links get a regular color (as well as the
   underline). */
.disabled-link() {
    /* Disabling pointer events ensure we don't get
       hovered/actived/focused */
    text-decoration: none;
    pointer-events: none;
    cursor: default;
    color: inherit;
    &:visited {
        color: inherit;
    }
}
.underlined-link() {
    /* That's for links in text. It is mostly used in "main #lf-text
       a". It is assumed .not-underlined-link is also applied. */
    color: inherit;
    text-decoration: underline;
    text-decoration-color: @color-link-notvisited-active;
    &:hover, &:active {
        color: @color-link-notvisited-active;
        &:visited {
            color: @color-link-visited-active;
        }
    }
    & abbr[title] {
        text-decoration: none;
    }
    &:visited {
        text-decoration-color: initial;
    }
}
.not-underlined-link() {
    /* That's for navigational links. If we want to override the above
       style in #lf-text, we need a bigger specificity. */
    color: @color-link-notvisited;
    text-decoration: none;
    &:hover, &:active {
        color: @color-link-notvisited-active;
    }
    &:visited {
        color: @color-link-visited;
        &:hover, &:active {
            color: @color-link-visited-active;
        }
    }
}
