/* Fonts */
@font-regular:  'Merriweather',Georgia,serif;
@font-headings: system-ui,-apple-system,'Roboto','Segoe UI','Ubuntu','Cantarell',sans-serif;
@font-console:  'Iosevka Term',monospace;
@font-size: 18px;
@font-size-small: 16px;
@line-height: 1.61111;

/* Colors */
@background-color: white;
@foreground-color: black;
@footer-color: #222;
@theme-color:  #21519C;
@tag-color:    #FF4500;
@sidenote-ref-color: #EFE;

/* Dimensions */
@page-width: 45rem;
@left-margin: 10rem;
@admonition-margin: 7rem;
@minimal-margin: 1.6rem;
@sidenote-width: 22rem;
@sidenote-margin: 4rem;
@menu-height: 2rem;

/* Media query breakpoints. */
@larger: ~"only screen and (min-width: "(floor((@page-width + @left-margin + @minimal-margin + @sidenote-width)/1rem*@font-size) + 1)~")";
@large: ~"only screen and (max-width: "(floor((@page-width + @left-margin + @minimal-margin + @sidenote-width)/1rem*@font-size))~"), print";
@medium: ~"only screen and (max-width: "(floor((@page-width + @left-margin + @minimal-margin)/1rem*@font-size))~"), print";
@small:  ~"only screen and (max-width: "(floor((@page-width + 2*@minimal-margin)/1rem*@font-size))~"), print";
@smaller: ~"only screen and (max-width: "(floor((@page-width + 2*@minimal-margin)/1rem*0.66*@font-size))~")";

/* Enable/disable grid */
@grid: off;

/* Additional properties for sprites */
.sprite() {
    display: inline-block;
    a& {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
}

/* Compute font-size and line-height to ensure proper vertical rhythm */
.font-size (@factor: 1) {
    font-size: @factor * 1em;
    line-height: round(ceil(@factor/@line-height)*@line-height/@factor, 3);
}

/* Link-related stuff. When supported, we use a different color for
   underlines. Otherwise, links get a regular color (as well as the
   underline). */
.disabled-link() {
    /* Disabling pointer events ensure we don't get
       hovered/actived/focused */
    text-decoration: none;
    pointer-events: none;
    cursor: default;
    color: inherit;
    &:visited {
        color: inherit;
    }
}
.underlined-link() {
    /* That's for links in text. It is mostly used in "main #lf-text
       a". It is assumed .not-underlined-link is also applied. */
    text-decoration: underline;
    &:visited {
        color: inherit;
    }
    &:hover, &:active, &:focus {
        color: lighten(@theme-color, 20%);
        &:visited {
            color: lighten(darken(spin(@theme-color, 60), 10%), 20%);
        }
    }
    & abbr[title] {
        text-decoration: none;
    }
    @supports (text-decoration-color: blue) {
        color: inherit;
        text-decoration-color: lighten(@theme-color, 20%);
        /* text-decoration-width: 0.1em; */
        &:visited {
            text-decoration-color: initial;
        }
    }
}
.not-underlined-link() {
    /* That's for navigational links. If we want to override the above
       style in #lf-text, we need a bigger specificity. */
    color: @theme-color;
    text-decoration: none;
    &:visited {
        color: darken(spin(@theme-color, 60), 10%);
        &:hover, &:active, &:focus {
            color: lighten(darken(spin(@theme-color, 60), 10%), 20%);
        }
    }
}
