---
combine:
  files:
    - isso-upstream.css
  remove: yes
  where: bottom
---

.lf-main #isso-thread {
  /* More specific than upstream styles */

  font-size: 0.8888rem;

  /* Override some of the styles */
  .isso-comment .isso-text {
    p {
      margin: 0;
    }
    p,
    pre,
    ul,
    ol,
    blockquote {
      clear: none;
      margin-bottom: 1rlh;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .isso-postbox {
    &::after {
      content: "Use Markdown syntax to format your comment.";
      font-size: 0.8em;
      font-style: italic;
    }
    &:lang(fr)::after {
      content: "Utilisez la syntaxe Markdown pour mettre en forme votre commentaire.";
    }
    .isso-input-wrapper label {
      font-size: 0.8em;
    }
    @media (prefers-color-scheme: dark) {
      input,
      .isso-textarea,
      .isso-preview {
        color: #262523; /* Will be inverted */
      }
      input,
      .isso-textarea,
      .isso-preview {
        filter: invert(100%) hue-rotate(180deg);
      }
    }
  }
  .isso-auth-section {
    input {
      box-shadow: none;
      border-radius: 0;
    }
    p {
      margin-top: 0;
    }
  }
  .isso-comment,
  .isso-followup {
    border-top: none;
  }

  /* Highlight my own posts */
  .isso-avatar {
    & > svg[data-hash="0bb73c4f5196"] {
      box-shadow: 0 0 12px var(--lf-color-accent);
      border-radius: 50%;
    }
    @media (prefers-color-scheme: dark) {
      opacity: 0.9;
    }
  }

  & > h4 {
    font-weight: normal;
    height: 1rlh;
  }
}
.isso-comment-header,
.isso-comment-footer,
.isso-comment-loader,
.isso-postbox .isso-notification-section {
  font-family: var(--lf-font-sansserif);
}
