---
combine:
  files:
    - isso-upstream.css
  remove: yes
  where: top
---

#isso-thread {
  font-size: 0.875rem;
}

#isso-thread > h4 {
  font-family: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  margin-block: 0;
  height: 1rlh;
}

.isso-text {
  p {
    margin: 0;
  }
  p,
  pre,
  ul,
  ol,
  blockquote {
    clear: none;
    margin-bottom: 1rlh;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.isso-postbox {
  &::after {
    content: "Use Markdown syntax to format your comment.";
    font-size: 0.8em;
    font-style: italic;
  }
  &:lang(fr)::after {
    content: "Utilisez la syntaxe Markdown pour mettre en forme votre commentaire.";
  }
  @media (prefers-color-scheme: dark) {
    input,
    .isso-textarea,
    .isso-preview {
      color: #262523; /* Will be inverted */
      filter: invert(100%) hue-rotate(180deg);
    }
  }
}

.isso-auth-section input {
  box-shadow: none;
  border-radius: 0;
}

.isso-input-wrapper {
  margin-top: 0 !important;
  label {
    font-size: 0.8em;
  }
}

.isso-post-action {
  /* Match label height */
  margin-top: calc(0.8em * 1.4) !important;
  @media screen and (max-width: 600px) {
    margin-top: 0 !important;
  }
}

.isso-comment:not(:first-of-type),
.isso-follow-up .isso-comment {
  border-top: none;
}

/* Highlight my own posts */
.isso-avatar {
  & > svg[data-hash="0bb73c4f5196"] {
    box-shadow: 0 0 12px var(--lf-color-accent);
    border-radius: 50%;
  }
  @media (prefers-color-scheme: dark) {
    opacity: 0.9;
  }
}
.isso-comment-header,
.isso-comment-footer,
.isso-comment-loader,
.isso-postbox .isso-notification-section {
  font-family: var(--lf-font-sansserif);
}
.isso-textarea {
  font-family: var(--lf-font-monospace);
}
