---
uses_template: true
---
{% filter replace("url(fonts/", "url(../fonts/") %}
{{ include_file("../../../node_modules/katex/dist/katex.css") }}
{% endfilter %}
.katex {
    white-space: nowrap;
    user-select: none;
}
.katex annotation {
    user-select: text;
}
