---
combine:
   files:
     - common.css
     - luffy.*.css
   remove: yes
   where: bottom
---

/* The targeted baseline is 2021, PostCSS flattens the nested rules but relies
   on ":is" for that, which is "baseline 2021". */
