/* Styling of bottom links */
#lf-bottomlinks {
  font-family: PrettyAmpersand, var(--lf-font-serif);
  margin: 2em 0 calc(2em - var(--lf-line-height) * 1em);
  li {
    list-style-type: none;
    display: flex;
    text-wrap: balance;
  }
  .lf-sym {
    text-align: center;
    width: 1.5em;
    flex-shrink: 0;
  }
  .lf-webshare {
    .nojs & {
      display: none;
    }
  }
}

/* Styling of "a" links. They are kept here to ensure we understand specificity
   and ensure we don't repeat the definitions too much. Note that nested rules
   act like a :is and the specificity of the most specific one is the
   specificity of the set. */
.lf-main a {
  @apply --lf-not-underlined-link;
}
.lf-main {
  #lf-text .toc a,
  #lf-text #lf-also a,
  #lf-text .endnote-backref,
  #lf-text .endnote-ref,
  #lf-text .headerlink,
  #lf-text .lf-tags a,
  #lf-text .lf-list-titles a {
    @apply --lf-not-underlined-link;
  }
  #lf-text a {
    html.nojs &[href^="#video-seek-"] {
      @apply --lf-disabled-link;
    }
  }
}
.lf-main #lf-text,
.isso-comment .text {
  a {
    @apply --lf-underlined-link;
  }
}
