/* Footer */
body > footer {
  font-family: var(--lf-font-sansserif);
  font-weight: normal;
  font-size: 0.8em;
  line-height: 1.3;
  background-color: var(--lf-color-footer);
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
  align-items: baseline;
  padding: 1.4em 1em;
  margin-top: 2.5em;
  color: #f0f0f0;
  a {
    text-decoration: none;
    color: #f0f0f0;
    &:hover,
    &:active {
      text-decoration: underline;
      color: white;
    }
  }
  address {
    margin-left: auto;
    font-style: normal;
  }
  h3 {
    display: inline;
    padding: 2px 1em;
    width: 10em;
    overflow: hidden;
    border-right: 1px solid #f0f0f0;
    @media (--lf-small) {
      padding: 2px 0.5em;
    }
  }
  ul {
    display: inline;
  }
  li {
    display: inline;
    padding: 0 0.7em 0 0.7em;
    @media (--lf-small) {
      padding: 0 0.4em;
    }
  }
}
/* Footer at the bottom of the page, even when content is small */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1;
}
