/* iosevka (custom) */
@font-face {
  font-family: Iosevka;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/iosevka-custom-regular.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  font-display: fallback;
}

/* merriweather (300, latin-ext), v21,
   https://google-webfonts-helper.herokuapp.com/fonts/merriweather?subsets=latin-ext,latin */
@font-face {
  font-family: Merriweather;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/merriweather.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  font-display: fallback;
}

@font-face {
  font-family: Merriweather;
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/merriweather-italic.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  font-display: fallback;
}
