/* -*- css -*- */
#lf-page {
    .lf-list-titles {
        li {
            clear: both;
            text-align: left;
            list-style-type: none;
            margin-left: 8em;
            @media screen and (max-width: 700px) {
                margin-left: 7em;
            }
            position: relative;
        }
        time {
            position: absolute;
            display: block;
            top: 0;
            left: -11em;
            width: 10em;
            text-align: right;
            color: #6F6F6F;
            font-family: @font-console;
            @media screen and (max-width: 700px) {
                .font-size(0.875);
            }
        }
        .lf-tags {
            display: inline-block;
            @media screen and (max-width: 700px) {
                display: none;
            }
            font-size: 80%;
            a.lf-tag {
                margin-left: 0.2em;
                color: @tag-color;
                font-family: @font-headings;
                border-bottom: none;
                &:hover {
                    color: desaturate(@tag-color, 50%);
                }
            }
        }
        .lf-sprite-tag {
            vertical-align: -2px;
        }
    }
    .lf-list-tags {
        margin: 1.5em 2em 1.5em 3em;
        @media only screen and (max-width: @page-width) {
            margin: 1.5em 0;
        }
        .lf-tag {
            padding: 0;
            margin: 1.5em 0;
        }
        .lf-one-tag {
            margin-left: 11em;
            color: @tag-color;
            font-family: @font-headings;
        }
    }
}
