---
combine:
  files:
    - luffy.*.css
  remove: yes
  where: bottom
---

/* The targeted baseline is 2016. Anything more recent should only be used as a
   progressive enhancement. */

html {
  scroll-behavior: smooth;
}
body {
  max-width: 100%;
  overflow-x: hidden;
}
::selection {
  background-color: var(--lf-color-accent);
  color: var(--lf-color-foreground-inverted);
}

#isso-thread {
  /* Needed, otherwise, the comments are invisible when scrolling to the bottom. */
  min-height: 10em;
}

main.lf-main::before {
  content: "";
  position: absolute;
  top: 2rem;
  right: var(--lf-minimal-margin);
  width: var(--lf-toc-width);
  background-image: url("../images/ducks.gif");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 560 / 316;
  opacity: 0.2;
  pointer-events: none;
  z-index: -1;
}
main.lf-main:has(.lf-text > :nth-child(odd):last-child)::before {
  background-image: url("../images/deer.gif");
  aspect-ratio: 418 / 247;
}
