#lf-also {
  @apply --lf-font-size(0.875);
  color: var(--lf-color-low);
  font-weight: normal;
  font-family: var(--lf-font-sansserif);
  & > div {
    text-wrap: balance;
    & > p,
    ul,
    li {
      display: inline;
    }
    li {
      padding: 0;
      &::after {
        content: ", ";
      }
      &:nth-last-child(2) {
        &::after {
          content: ", and";
        }
        &:lang(fr)::after {
          content: " et";
        }
      }
      &:last-child::after {
        content: "";
      }
    }
  }
}
