/* -*- css -*- */
pre, code, code .amp, pre .amp, kbd {
    font-family: @font-monospace;
    font-style: normal;
    font-variant-numeric: lining-nums;
}
code {
    background-color: if(@dark-mode = false,
                         darken(@color-background, 3%),
                         lighten(@color-background, 6%));
}
pre {
    margin: 0;
    word-break: break-all;
    white-space: pre-wrap;
    clear: left;
}
kbd {
  display: inline;
  padding: 0 2px 1px;
  vertical-align: baseline;
  background: linear-gradient(@color-background,
                              if(@dark-mode = false,
                                 darken(@color-background, 5%),
                                 lighten(@color-background, 8%)));
  border-radius: 4px;
  box-shadow: inset 0 -1px 0 #bbb;
}
.codehilite when (@dark-mode = false) {
    /* High contrast "colorful" theme from pygments. See:
     * https://github.com/mpchadwick/pygments-high-contrast-stylesheets/blob/gh-pages/colorful.css
     */
    .si { background-color: #eeeeee } /* Literal.String.Interpol */
    .sx { background-color: #fff0f0; color: #d82100 } /* Literal.String.Other */
    .s { background-color: #fff0f0 } /* Literal.String */
    .sa { background-color: #fff0f0 } /* Literal.String.Affix */
    .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
    .dl { background-color: #fff0f0 } /* Literal.String.Delimiter */
    .s2 { background-color: #fff0f0 } /* Literal.String.Double */
    .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
    .s1 { background-color: #fff0f0 } /* Literal.String.Single */
    .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
    .ge { color: #000000 } /* Generic.Emph */
    .gs { color: #000000 } /* Generic.Strong */
    .ow { color: #000000 } /* Operator.Word */
    .gh { color: #000080 } /* Generic.Heading */
    .na { color: #0000CC } /* Name.Attribute */
    .mi { color: #0000DD } /* Literal.Number.Integer */
    .il { color: #0000DD } /* Literal.Number.Integer.Long */
    .no { color: #003366 } /* Name.Constant */
    .kp { color: #003388 } /* Keyword.Pseudo */
    .gt { color: #0044DD } /* Generic.Traceback */
    .sc { color: #0044DD } /* Literal.String.Char */
    .mh { color: #005588 } /* Literal.Number.Hex */
    .nf { color: #0066BB } /* Name.Function */
    .fm { color: #0066BB } /* Name.Function.Magic */
    .nb { color: #007020 } /* Name.Builtin */
    .bp { color: #007020 } /* Name.Builtin.Pseudo */
    .nt { color: #007700 } /* Name.Tag */
    .gi { color: #008700 } /* Generic.Inserted */
    .k { color: #008800 } /* Keyword */
    .kc { color: #008800 } /* Keyword.Constant */
    .kd { color: #008800 } /* Keyword.Declaration */
    .kn { color: #008800 } /* Keyword.Namespace */
    .kr { color: #008800 } /* Keyword.Reserved */
    .nn { color: #0e7eab } /* Name.Namespace */
    .o { color: #333333 } /* Operator */
    .kt { color: #333399 } /* Keyword.Type */
    .vi { color: #3333BB } /* Name.Variable.Instance */
    .vc { color: #336699 } /* Name.Variable.Class */
    .mo { color: #4400EE } /* Literal.Number.Oct */
    .c { color: #4f4f4f } /* Comment */
    .ch { color: #4f4f4f } /* Comment.Hashbang */
    .cm { color: #4f4f4f } /* Comment.Multiline */
    .cpf { color: #4f4f4f } /* Comment.PreprocFile */
    .c1 { color: #4f4f4f } /* Comment.Single */
    .go { color: #4f4f4f } /* Generic.Output */
    .w { color: #4f4f4f } /* Text.Whitespace */
    .nd { color: #555555 } /* Name.Decorator */
    .cp { color: #557799 } /* Comment.Preproc */
    .m { color: #6600EE } /* Literal.Number */
    .mb { color: #6600EE } /* Literal.Number.Bin */
    .mf { color: #6600EE } /* Literal.Number.Float */
    .se { color: #666666; background-color: #fff0f0 } /* Literal.String.Escape */
    .gu { color: #800080 } /* Generic.Subheading */
    .ni { color: #880000 } /* Name.Entity */
    .nl { color: #8f6f00 } /* Name.Label */
    .nv { color: #996633 } /* Name.Variable */
    .vm { color: #996633 } /* Name.Variable.Magic */
    .gd { color: #A00000 } /* Generic.Deleted */
    .ss { color: #AA6600 } /* Literal.String.Symbol */
    .vg { color: #b55f00 } /* Name.Variable.Global */
    .nc { color: #BB0066 } /* Name.Class */
    .gp { color: #bc5909 } /* Generic.Prompt */
    .cs { color: #cc0000 } /* Comment.Special */
    .sd { color: #d54220 } /* Literal.String.Doc */
    .gr { color: #eb0000 } /* Generic.Error */
    .ne { color: #eb0000 } /* Name.Exception */
}
.codehilite when (@dark-mode = true) {
    /* High contrast "fruity" theme from pygments. See:
     * https://github.com/mpchadwick/pygments-high-contrast-stylesheets/blob/gh-pages/fruity.css
     */
    .m { color: #0086ff; }
    .dl { color: #00a3ff; }
    .no { color: #00a3ff; }
    .s1 { color: #00a3ff; }
    .s2 { color: #00a3ff; }
    .sa { color: #00a3ff; }
    .sb { color: #00a3ff; }
    .sc { color: #00a3ff; }
    .s { color: #00a3ff; }
    .sd { color: #00a3ff; }
    .se { color: #00a3ff; }
    .sh { color: #00a3ff; }
    .si { color: #00a3ff; }
    .sr { color: #00a3ff; }
    .ss { color: #00a3ff; }
    .sx { color: #00a3ff; }
    .c1 { color: #0b0; }
    .c { color: #0b0; }
    .ch { color: #0b0; }
    .cm { color: #0b0; }
    .cpf { color: #0b0; }
    .cs { color: #0b0; }
    .il { color: #3086f7; }
    .mb { color: #3086f7; }
    .mf { color: #3086f7; }
    .mh { color: #3086f7; }
    .mi { color: #3086f7; }
    .mo { color: #3086f7; }
    .w { color: #888888; }
    .go { color: #B9B9B9; }
    .kt { color: #cdcaa9; }
    .bp { color: @color-foreground; }
    .err { color: @color-foreground; }
    .esc { color: @color-foreground; }
    .g { color: @color-foreground; }
    .gd { color: @color-foreground; }
    .ge { color: @color-foreground; }
    .gh { color: @color-foreground; }
    .gi { color: @color-foreground; }
    .gr { color: @color-foreground; }
    .gs { color: @color-foreground; }
    .gt { color: @color-foreground; }
    .gu { color: @color-foreground; }
    .l { color: @color-foreground; }
    .ld { color: @color-foreground; }
    .nb { color: @color-foreground; }
    .nc { color: @color-foreground; }
    .n { color: @color-foreground; }
    .nd { color: @color-foreground; }
    .ne { color: @color-foreground; }
    .ni { color: @color-foreground; }
    .nl { color: @color-foreground; }
    .nn { color: @color-foreground; }
    .nx { color: @color-foreground; }
    .o { color: @color-foreground; }
    .ow { color: @color-foreground; }
    .p { color: @color-foreground; }
    .py { color: @color-foreground; }
    .x { color: @color-foreground; }
    .gp { color: #fb660a; }
    .kc { color: #fb660a; }
    .k { color: #fb660a; }
    .kd { color: #fb660a; }
    .kn { color: #fb660a; }
    .kp { color: #fb660a; }
    .kr { color: #fb660a; }
    .nt { color: #fb660a; }
    .nv { color: #fb660a; }
    .vc { color: #fb660a; }
    .vg { color: #fb660a; }
    .vi { color: #fb660a; }
    .vm { color: #fb660a; }
    .cp { color: #ff0007; }
    .fm { color: #ff0086; }
    .na { color: #ff0086; }
    .nf { color: #ff0086; }
}
.codehilite {
    margin-top: @line-height*1rem;
    padding: 0;
    .hll {
        position: relative;
        display: block;
        z-index: 0;
        & > * {
            background-color: inherit;
        }

        &::before {
            content: "";
            position: absolute;
            left: -@minimal-margin;
            right: -@minimal-margin;
            top: 0;
            bottom: 0;
            & when (@dark-mode = false) {
              background: linear-gradient(135deg, #fdffb6 81%,#ffffe6 100%);
            }
            & when (@dark-mode = true) {
              background: linear-gradient(135deg, #333333 81%,#222222 100%);
            }
            z-index: -1;
        }
    }

    &.language-bash-session {
        .nb, .m { color: @color-foreground; }
        .gp { user-select: none; }
    }
    &.language-bash {
        .nb, .m { color: @color-foreground; }
    }

    /* Clipboard handling */
    position: relative;
    &:hover > .lf-copy {
        opacity: 0.4;
        &:hover {
            opacity: 1;
        }
    }
    & > .lf-copy {
        position: absolute;
        top: 0;
        right: 0;
        transition: opacity .4s;
        opacity: 0;
        cursor: pointer;
        &::before {
            content: "📋";
        }
        &::after {
            position: absolute;
            top: 0;
            right: 0;
            display: none;
            font-size: 0.75em;
            line-height: (@line-height/0.75);
            padding: 2px 5px;
            border-radius: 2px;
            white-space: nowrap;
            vertical-align: middle;
            font-family: @font-sansserif;
            color: @color-background;
            background-color: @color-foreground;
            transform: translateX(-2em);
        }
        &:hover::after {
            display: block;
            content: "Copy to clipboard";
        }
        &:hover:lang(fr)::after {
            content: "Copier vers le presse-papier";
        }
        &[class|='msg-copy'] {
            opacity: 1;
            &::after {
                display: block;
                animation: showcopied 1.5s ease;
            }
        }
        &.msg-copy-ok::after {
            content: "Copied!";
        }
        &.msg-copy-ok:lang(fr)::after {
            content: "Copié!";
        }
        &.msg-copy-failed::after {
            content: "Ctrl/⌘+C to copy";
        }
        &.msg-copy-failed:lang(fr)::after {
            content: "Ctrl/⌘+C pour copier";
        }
        @keyframes showcopied {
            0% {
                opacity: 0;
                transform: translateX(0);
            }
            50%,100% {
                opacity: 1;
                transform: translateX(-2em);
            }
        }
    }
}
