/* -*- css -*- */
/* Pages */
#lf-pages {
    width: @page-width + 4em;
    #lf-page {
    	width: @page-width;
    }
}
#lf-pages {
    min-height: 250px;
    margin: 0 auto 2em;
    position: relative;
    #lf-page {
	 background: white;
	 border: solid 1px #EEE;
	 .shadow;
	 padding: 0;
	 margin: 0;
         border-width: 1px 0;
    }
}

@media only screen and (max-width: (@page-width + 4em)) {
   #lf-pages {
       width: 100%;
   }
}
@media only screen and (max-width: @page-width) {
   #lf-pages #lf-page {
       width: 100%;
   }
}
