body {
    background: @theme-background url('../images/l/top-bar.png') repeat-x left top;
}

/* Menu bar */
#lf-navbar {
    margin: 0;
    #lf-homeicon {
	 position: absolute;
	 top: 2px;
	 left: 4px;
	 a {
	     width: 50px;
	     height: 51px;
	     background: url("../images/l/strawhat.png") no-repeat left top;
	     display: block;
	 }
    }
    #lf-menubar {
	min-height: 34px;
	background-color: black;
	.gradient(center top, #333333, #111111);
	.shadow;
	ul {
	    padding: 0.5em 0 0.5em 100px;
	}
	li {
	    display: inline;
	    padding: 0 2em 0 2em;
	}
	a {
	    text-decoration: none;
	    font: bold 15px @font-droid;
	    color: white;
	    text-shadow: #666 0px -1px 0px;
	}
    }
}
.no-js {
    #lf-search #lf-search-glass {
	cursor: auto !important;
    }
}
#lf-search {
    float: right;
    margin: 2px 6px 2px 6px;
    position: relative;
    #lf-search-glass {
	 cursor: pointer;
	 display: block;
	 padding: 7px 8px 5px;
	 position: absolute;
	 right: 0;
	 i {
	     background-image: url("../images/l/search-icon.png");
	     display: block;
	     width: 14px;
	     height: 14px;
	 }
    }
    #lf-search-query {
	 background: none repeat scroll 0 0 #666;
	 border: 1px solid black;
	 .shadow(1px);
	 .rounded-corners(4px);
	 color: #ccc;
	 width: 215px;
	 padding: 6px 25px 4px 6px;
    }
}

