/* Print, hide most stuff */
@media print {
    footer, nav, #lf-links, #lf-share {
        display: none !important;
    }
    #lf-content {
        text-rendering: optimizeLegibility; /* For Webkit, slower but better */
        color: black;
        abbr {
            text-decoration: none;
        }
    }
    #disqus_thread {
        display: none;
    }
}
