body.lf-debug-grid::after {
  content: "";
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 9999;
  background: linear-gradient(
    0,
    rgba(200, 225, 255, 0.6) 1px,
    transparent 1px
  );
  background-size: 20px 1rlh;
  background-position: 0 0.737rlh;
  pointer-events: none;
}
