/* iosevka (custom) */
@font-face {
  font-family: Iosevka;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/iosevka-custom-regular.woff2') format('woff2');
  font-display: swap;
}

/* merriweather */
@font-face {
  font-family: Merriweather;
  font-style: normal;
  font-weight: 400;
  font-feature-settings: "ss01";
  src: url('../fonts/merriweather.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Merriweather;
  font-style: italic;
  font-weight: 400;
  font-feature-settings: "ss01";
  src: url('../fonts/merriweather-italic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: PrettyAmpersand;
  src: local('Baskerville Italic'), /* 95% macOS */
       local('Libre Baskerville Italic'), /* Linux */
       local('Palatino Linotype Italic'), /* 99% Windows */
       local('Times New Roman');
  unicode-range: U+0026;
}
