.footnote {
  @apply --lf-font-size(0.875);
  margin-bottom: 1rlh;
}

article + article {
  position: relative;
  &::before,
  &::after {
    position: absolute;
    top: 1rlh;
  }
  &::before {
    content: "";
    display: block;
    width: 100vw;
    height: 2px;
    background-color: var(--lf-color-rule);
    left: calc(-1 * var(--lf-minimal-margin));
    @media (--lf-large) {
      left: calc(-1 * var(--lf-left-margin));
    }
    @media (--lf-extra-wide) {
      left: calc(-1 * (var(--lf-minimal-margin) * 2 + var(--lf-toc-width)));
    }
  }
  &::after {
    content: "\002702\00fe0f";
    left: 0;
    transform: translateY(-50%);
    padding-inline: 0.25em;
    background-color: var(--lf-color-background);
    color: var(--lf-color-rule);
    line-height: 1;
  }
}
