/* Horizontal alignment. */
.lf-main {
  margin-inline: var(--lf-minimal-margin);
  width: auto;

  @media (--lf-medium) {
    margin-right: 0;
    width: var(--lf-page-width);
  }
  @media (--lf-large) {
    margin-left: var(--lf-left-margin);
  }
  @media (--lf-extra-wide) {
    margin-left: calc(var(--lf-toc-width) + 2 * var(--lf-minimal-margin));
  }
}
.lf-text > .lf-table {
  table {
    max-width: 100%;
    min-width: 55%;
    margin-inline: auto;
  }
  width: 100vw;
  margin-inline: calc(-1 * var(--lf-minimal-margin));
  overflow-x: auto;
  @media (--lf-medium) {
    width: 100%;
    margin-inline: auto;
  }
}

.lf-main {
  display: block;
  font-synthesis-style: none;
  header {
    padding-top: 3rlh;
    margin-bottom: 2rlh;
    font-family: var(--lf-font-sansserif);
    h1 {
      color: var(--lf-color-theme);
      @apply --lf-font-scale(4);
      margin: 0 0 1rlh;
    }
    h2 {
      color: var(--lf-color-low);
      @apply --lf-font-scale(0);
      font-family: inherit;
      font-weight: inherit;
      font-stretch: inherit;
      margin-block: 0;
      text-align: right;
      time::before {
        content: "—";
      }
    }
  }
  .p,
  p,
  dl {
    margin-top: 1rlh;
  }
  p,
  ul,
  ol,
  dl {
    text-wrap: pretty;
    hyphens: auto;
    hyphenate-limit-lines: 3; /* The Element of Typographic Style, 2.4.3 */
    hyphenate-limit-chars: auto 2 3; /* The Element of Typographic Style, 2.4.1 */
  }
  em {
    font-style: italic;
  }
  b,
  strong {
    font-style: italic;
    font-weight: normal;
    color: var(--lf-color-accent);
    em {
      font-style: normal;
    }
  }
  del {
    text-decoration: line-through;
    color: var(--lf-color-low);
  }
  ins {
    font-style: italic;
    text-decoration: none;
  }
  abbr[title] {
    cursor: help;
    text-decoration: underline dotted var(--lf-color-link-notvisited);
    @media (hover: none) {
      text-decoration: none;
    }
    @media print {
      text-decoration: none;
    }
  }
  a,
  h1,
  h2,
  h3,
  h4 {
    abbr[title] {
      text-decoration: inherit;
      cursor: inherit;
    }
  }
  hr {
    color: var(--lf-color-rule);
    text-align: center;
    display: block;
    border: none;
    margin: 1rlh auto;
    font-size: 1rlh;
    line-height: 1;
    &::before {
      content: "···";
      letter-spacing: 1em;
      margin-left: 1em;
    }
  }
  h1,
  h2,
  h3,
  h4 {
    margin-block: 2rlh 1rlh;
    scroll-margin-top: 1rlh;
    color: var(--lf-color-theme);
    font-family: var(--lf-font-heading);
    font-weight: bold;
    font-stretch: condensed;
    text-wrap: balance;
    code {
      font-family: inherit;
      font-style: inherit;
      line-height: inherit;
    }
    font-variant-numeric: lining-nums;
    break-after: avoid;
    break-inside: avoid;
    &:hover .headerlink {
      visibility: visible;
    }
  }
  h1 {
    @apply --lf-font-scale(3);
  }
  h2 {
    @apply --lf-font-scale(2);
  }
  h3 {
    @apply --lf-font-scale(1);
  }
  .admonition-title {
    margin-top: 0;
    font-style: italic;
    hyphens: none;
    float: left;
    color: var(--lf-color-accent);
    & + p {
      margin-left: -0.5em;
      padding-left: 0.5em;
      border-left: 1px solid var(--lf-color-low);
    }
    &::after {
      content: ".\00a0";
    }
  }

  .headerlink {
    padding-left: 0.3em;
    color: var(--lf-color-low) !important;
    visibility: hidden;
    opacity: 0.5;
  }

  .lf-table {
    margin-block: 1rlh;

    th {
      padding: 0.4rlh 1em;
    }
    td {
      padding: 0.2rlh 0.5em;
    }

    /* Vertical rhythm: heading counts as 2 rows; pad so total is a multiple of 5. */
    &:has(tbody tr:nth-child(5n):last-child) {
      padding-bottom: 0.2rlh;
    } /* 4 + 2N % 5 == 4, 1 missing */
    &:has(tbody tr:nth-child(5n + 1):last-child) {
      padding-bottom: 0.8rlh;
    } /* 4 + 2N % 5 == 1, 4 missing */
    &:has(tbody tr:nth-child(5n + 2):last-child) {
      padding-bottom: 0.4rlh;
    } /* 4 + 2N % 5 == 3, 2 missing */
    /* &:has(tbody tr:nth-child(5n+3):last-child) { } */ /* 4 + 2N % 5 == 0 */
    &:has(tbody tr:nth-child(5n + 4):last-child) {
      padding-bottom: 0.6rlh;
    } /* 4 + 2N % 5 == 2, 3 missing */
  }
  table {
    border-spacing: 2px 0;
    border-collapse: separate;
    vertical-align: middle;
    font-variant-numeric: tabular-nums;
    th {
      text-align: left;
      color: white;
      font-weight: normal;
      background: linear-gradient(
        to bottom,
        var(--lf-color-table-header),
        var(--lf-color-table-header-alt)
      );
      &:first-child {
        border-radius: 4px 0 0 0;
      }
      &:last-child {
        border-radius: 0 4px 0 0;
      }
    }
    tbody tr {
      background-color: var(--lf-color-table-row);
      &:nth-child(odd) {
        background-color: var(--lf-color-table-row-alt);
      }
    }
    th code,
    tr code {
      background-color: inherit;
    }
  }

  blockquote {
    clear: left;
    position: relative;
    font-style: italic;
    em {
      font-style: normal;
    }
    & > :first-child {
      &::before {
        pointer-events: none;
        display: inline-flex;
        justify-content: flex-end;
        font-size: 2.3rem;
        width: 0;
        line-height: 0;
        vertical-align: baseline;
        margin-left: -0.1em;
        margin-right: 0.1em;
        content: "«";
        color: var(--lf-color-theme);
        font-family: PrettyAmpersand, var(--lf-font-serif);
        font-style: normal;
      }
      &:lang(en)::before {
        content: "“";
      }
    }
    padding: 0;
  }

  ul,
  ol,
  dl {
    margin-left: 0;
    padding-left: 0;
    list-style-position: outside;
  }
  ul {
    list-style-type: square;
    list-style-type: "– ";
  }
  ol {
    list-style-type: decimal;
  }
  dt,
  dd {
    display: inline;
  }
  dt {
    font-style: italic;
    color: var(--lf-color-accent);
    &::after {
      content: ".";
    }
    &::before {
      display: block;
      content: "";
      margin-top: 1rlh;
    }
  }

  sup,
  sub {
    font-size: var(--lf-font-size-sidenoteref);
    position: relative;
    line-height: 1;
  }
}
