/* Menu bar */
#lf-navbar {
  position: absolute;
  top: 0;
  inset-inline: 0;
  margin: 0;
  display: flex;
  align-items: center;
  overflow: clip visible;
  font-family: var(--lf-font-sansserif);
  line-height: 1;
  height: var(--lf-menu-height);
  background-color: var(--lf-color-footer-background);
  ul {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    padding: 0;
    @media (--lf-small) {
      padding: 0 1em;
    }
  }
  li {
    white-space: nowrap;
    padding: 0.5em 0.7em;
    @media (--lf-medium) {
      padding: 0.5em 2em;
    }
    &.active {
      font-weight: bold;
    }
    transition: transform 0.2s;
    &:hover {
      transform: translateY(-2px);
    }
  }
  a {
    text-decoration: none;
    color: var(--lf-color-footer-foreground);
  }
}
