.lf-main {
  .lf-text sup {
    .lf-sidenote-ref {
      user-select: none;
      &:lang(fr)::before {
        content: " ";
      }
      &::after {
        content: "↓";
        vertical-align: top;
      }
    }
  }

  .lf-sidenote-ref,
  .lf-sidenote-refmark {
    font-variant-numeric: lining-nums;
  }
  .lf-sidenote {
    pre,
    p,
    ul,
    ol {
      @apply --lf-font-scale(-1);
    }
    p {
      margin-top: 1rlh;
    }

    scroll-margin-top: 1rlh;
    &:target::after {
      content: "";
      position: absolute;
      z-index: -2;
      inset: -5px;
      border-radius: 5px;
      animation: lf-sidenote-target-fade 5s ease-out;
    }

    /* Inline display */
    position: relative;
    margin: 1rlh 0 0;
    & + .lf-sidenote {
      margin-top: 0;
    }
    color: var(--lf-color-low);
    .lf-sidenote-refmark {
      position: absolute;
      right: 100%;
      top: 0;
      margin-right: 0.3rem;
      font-size: var(--lf-font-size-sidenoteref);
      & + p {
        margin-top: 0 !important;
      }
    }
    .lf-sidenote-end {
      line-height: 1;
    }
  }
}

/* Anchor-positioned sidenotes for wide viewports. See
   https://meyerweb.com/eric/thoughts/2023/09/12/nuclear-anchored-sidenotes/ */
@supports (anchor-name: --a) {
  @media (--lf-wide) {
    .lf-main:not(.lf-sidenotes-overlap) {
      position: relative;
      .lf-sidenote {
        .lf-sidenote-end {
          display: none;
        }
        position: absolute;
        anchor-name: --lf-sidenote;
        top: max(anchor(top), calc(anchor(--lf-sidenote bottom, -1rlh) + 1rlh));
        left: 100%;
        width: var(--lf-sidenote-width);
        margin: 0 var(--lf-minimal-margin);
        color: var(--lf-color-foreground);
        .lf-sidenote-refmark {
          width: calc(var(--lf-minimal-margin) - 0.3rem);
          text-align: right;
        }
      }
      .lf-text a.lf-sidenote-ref {
        &::after {
          content: "→";
          vertical-align: middle;
        }
      }
    }
  }
}

@keyframes lf-sidenote-target-fade {
  from {
    background-color: var(--lf-color-code-background-highlight);
  }
  to {
    background-color: transparent;
  }
}
