/* -*- css -*- */
pre, code, code .amp, pre .amp, kbd {
    font-family: @font-monospace;
    font-style: normal;
    font-variant-numeric: lining-nums;
}
code {
    background-color: if(@dark-mode = false,
                         darken(@color-background, 3%),
                         lighten(@color-background, 6%));
}
pre {
    margin: 0;
    word-break: break-all;
    white-space: pre-wrap;
    clear: left;
    & > code {
        background-color: initial;
    }
}
kbd {
  display: inline;
  padding: 0 2px 1px;
  vertical-align: baseline;
  background: linear-gradient(@color-background,
                              if(@dark-mode = false,
                                 darken(@color-background, 5%),
                                 lighten(@color-background, 8%)));
  border-radius: 4px;
  box-shadow: inset 0 -1px 0 #bbb;
}
.codehilite when (@dark-mode = false) {
    /* High contrast "autumn" theme from pygments. See:
     * https://github.com/mpchadwick/pygments-high-contrast-stylesheets/blob/gh-pages/autumn.css
     */
    .bp { color: #008282; }
    .c { color: #747474; }
    .c1 { color: #747474; }
    .ch { color: #747474; }
    .cm { color: #747474; }
    .cp { color: #4c8317; }
    .cpf { color: #747474; }
    .cs { color: #0000aa; }
    .dl { color: #aa5500; }
    .fm { color: #008700; }
    .gd { color: #aa0000; }
    .gh { color: #000080; }
    .gi { color: #008700; }
    .go { color: #767676; }
    .gp { color: #555555; }
    .gr { color: #aa0000; }
    .gt { color: #aa0000; }
    .gu { color: #800080; }
    .il { color: #008080; }
    .k { color: #0000aa; }
    .kc { color: #0000aa; }
    .kd { color: #0000aa; }
    .kn { color: #0000aa; }
    .kp { color: #0000aa; }
    .kr { color: #0000aa; }
    .kt { color: #008282; }
    .m { color: #008080; }
    .mb { color: #008080; }
    .mf { color: #008080; }
    .mh { color: #008080; }
    .mi { color: #008080; }
    .mo { color: #008080; }
    .na { color: #0072eb; }
    .nb { color: #008282; }
    .nc { color: #008700; }
    .nd { color: #767676; }
    .nf { color: #008700; }
    .ni { color: #880000; }
    .nn { color: #008282; }
    .no { color: #aa0000; }
    .nt { color: #0072eb; }
    .nv { color: #aa0000; }
    .ow { color: #0000aa; }
    .s { color: #008700; }
    .s1 { color: #008700; }
    .s2 { color: #008700; }
    .sa { color: #008700; }
    .sb { color: #008700; }
    .sc { color: #008700; }
    .sd { color: #008700; }
    .se { color: #008700; }
    .sh { color: #008700; }
    .si { color: #008700; }
    .sr { color: #008080; }
    .ss { color: #0000aa; }
    .sx { color: #008700; }
    .vc { color: #aa0000; }
    .vg { color: #aa0000; }
    .vi { color: #aa0000; }
    .vm { color: #aa0000; }
    .w { color: #767676; }
}
.codehilite when (@dark-mode = true) {
    /* High contrast "fruity" theme from pygments. See:
     * https://github.com/mpchadwick/pygments-high-contrast-stylesheets/blob/gh-pages/fruity.css
     */
    .m { color: #0086ff; }
    .dl { color: #00a3ff; }
    .no { color: #00a3ff; }
    .s1 { color: #00a3ff; }
    .s2 { color: #00a3ff; }
    .sa { color: #00a3ff; }
    .sb { color: #00a3ff; }
    .sc { color: #00a3ff; }
    .s { color: #00a3ff; }
    .sd { color: #00a3ff; }
    .se { color: #00a3ff; }
    .sh { color: #00a3ff; }
    .si { color: #00a3ff; }
    .sr { color: #00a3ff; }
    .ss { color: #00a3ff; }
    .sx { color: #00a3ff; }
    .c1 { color: #0b0; }
    .c { color: #0b0; }
    .ch { color: #0b0; }
    .cm { color: #0b0; }
    .cpf { color: #0b0; }
    .cs { color: #0b0; }
    .il { color: #3086f7; }
    .mb { color: #3086f7; }
    .mf { color: #3086f7; }
    .mh { color: #3086f7; }
    .mi { color: #3086f7; }
    .mo { color: #3086f7; }
    .w { color: #888888; }
    .go { color: #B9B9B9; }
    .kt { color: #cdcaa9; }
    .gp { color: #fb660a; }
    .kc { color: #fb660a; }
    .k { color: #fb660a; }
    .kd { color: #fb660a; }
    .kn { color: #fb660a; }
    .kp { color: #fb660a; }
    .kr { color: #fb660a; }
    .nt { color: #fb660a; }
    .nv { color: #fb660a; }
    .vc { color: #fb660a; }
    .vg { color: #fb660a; }
    .vi { color: #fb660a; }
    .vm { color: #fb660a; }
    .cp { color: #ff0007; }
    .fm { color: #ff0086; }
    .na { color: #ff0086; }
    .nf { color: #ff0086; }
}
.codehilite {
    margin-top: @line-height*1rem;
    padding: 0;
    .hll {
        position: relative;
        display: block;
        z-index: 0;
        & > * {
            background-color: inherit;
        }

        &::before {
            content: "";
            position: absolute;
            left: -@minimal-margin;
            right: -@minimal-margin;
            top: 0;
            bottom: 0;
            & when (@dark-mode = false) {
              background: linear-gradient(135deg, #fdffb6 81%,#ffffe6 100%);
            }
            & when (@dark-mode = true) {
              background: linear-gradient(135deg, #333333 81%,#222222 100%);
            }
            z-index: -1;
        }
    }

    &.language-bash-session {
        .nb, .m { color: @color-foreground; }
        .gp { user-select: none; }
    }
    &.language-bash {
        .nb, .m { color: @color-foreground; }
    }

    /* Clipboard handling */
    position: relative;
    &:hover > .lf-copy {
        opacity: 0.4;
        &:hover {
            opacity: 1;
        }
    }
    & > .lf-copy {
        position: absolute;
        top: 0;
        right: 0;
        transition: opacity .4s;
        opacity: 0;
        cursor: pointer;
        &::before {
            content: "📋";
        }
        &::after {
            position: absolute;
            top: 0;
            right: 0;
            display: none;
            font-size: 0.75em;
            line-height: (@line-height/0.75);
            padding: 2px 5px;
            border-radius: 2px;
            white-space: nowrap;
            vertical-align: middle;
            font-family: @font-sansserif;
            color: @color-background;
            background-color: @color-foreground;
            transform: translateX(-2em);
        }
        &:hover::after {
            display: block;
            content: "Copy to clipboard";
        }
        &:hover:lang(fr)::after {
            content: "Copier vers le presse-papier";
        }
        &[class|='msg-copy'] {
            opacity: 1;
            &::after {
                display: block;
                animation: showcopied 1.5s ease;
            }
        }
        &.msg-copy-ok::after {
            content: "Copied!";
        }
        &.msg-copy-ok:lang(fr)::after {
            content: "Copié!";
        }
        &.msg-copy-failed::after {
            content: "Ctrl/⌘+C to copy";
        }
        &.msg-copy-failed:lang(fr)::after {
            content: "Ctrl/⌘+C pour copier";
        }
        @keyframes showcopied {
            0% {
                opacity: 0;
                transform: translateX(0);
            }
            50%,100% {
                opacity: 1;
                transform: translateX(-2em);
            }
        }
    }
}
