.lf-gallery {
  margin: 1em;
  padding: 0.5em;
  text-align: center;

  img {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #777;
    border-radius: 4px;
    background-color: white;
  }
  a:hover img {
    border-color: @color-theme;
  }
}
