/* Footer at the bottom of the page, even when content is small */
@supports (display: grid) {
  body {
    display: grid;
    grid-template-columns: auto 0px; /* Second column is for back to top */
    grid-template-rows: 1fr auto auto;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
  }
  body > * {
    grid-column: 1;
    grid-row: 3;
  }
  body > main {
    grid-row: 1;
  }
  body > footer {
    grid-row: 2;
  }

  html {
    scroll-behavior: smooth;
  }
}

#isso-thread {
  /* Needed, otherwise, the comments are invisible when scrolling to the bottom. */
  min-height: 10em;
}
