.lf-gallery {
  margin: 1em;
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  img {
    display: block;
    margin: 5px;
    padding: 6px;
    border: 1px solid #777;
    border-radius: 4px;
    background-color: white;
  }
  a:hover img {
    border-color: @color-theme;
    border-width: 2px;
    padding: 5px;
  }
}
