html {
  font-size: @font-size;
  @media @smaller {
    font-size: @font-size-small;
  }
}

body {
  font: normal 100% @font-serif;
  font-variant-numeric: oldstyle-nums;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-x: hidden;
  max-width: 100%; /* Needed because of "100vw" used below */
  color: @color-foreground;
  background-color: @color-background;
}

/* Horizontal alignment. */
.lf-main {
  margin-left: @left-margin;
  width: @page-width;

  @media @medium {
    margin-left: @minimal-margin;
    width: @page-width;
  }
  @media @small {
    margin-left: @minimal-margin;
    margin-right: @minimal-margin;
    width: auto;
  }
}
#lf-text > .lf-table {
  table {
    max-width: 100%;
    min-width: 55%;
    margin-left: auto;
    margin-right: auto;
  }
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  @media @small {
    width: 100vw;
    margin-left: -@minimal-margin;
    margin-right: -@minimal-margin;
  }
}
#lf-text {
  .lf-media-outer {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  & > figure {
    @media @medium {
      width: auto;
      width: 100vw;
      margin-left: -@minimal-margin;
    }
    @media @small {
      margin-right: -@minimal-margin;
    }
  }
}

.lf-main {
  display: block;
  line-height: @line-height;
  header {
    padding-top: (@line-height*2em + @menu-height);
    margin-bottom: @line-height*2em;
    font-family: @font-sansserif;
    h1 {
      color: @color-theme;
      .font-size(2.625);
      margin: 0;
    }
    h2 {
      color: @color-low;
      font-size: 1em;
      line-height: @line-height;
      margin-top: 0;
      margin-bottom: 0;
      text-align: right;
      time::before {
        content: "—";
      }
    }
  }
  p,
  dl {
    margin-top: @line-height*1em;
  }
  p,
  li,
  dd {
    hyphens: auto;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 2;
    hyphenate-limit-zone: 8%;
  }
  em {
    font-style: italic;
  }
  b,
  strong {
    font-style: italic;
    font-weight: normal;
    color: @color-accent;
    em {
      font-style: normal;
    }
  }
  del {
    text-decoration: line-through;
    color: @color-low;
  }
  ins {
    font-style: italic;
    text-decoration: none;
  }
  abbr[title] {
    cursor: help;
    text-decoration: underline dotted
      if(
        @dark-mode = false,
        lighten(@color-link-notvisited, 20%),
        darken(@color-link-notvisited, 20%)
      );
    @media (hover: none) {
      text-decoration: none;
    }
    @media print {
      & when (@dark-mode = false) {
        text-decoration: none;
      }
    }
  }
  hr {
    color: if(@dark-mode = false, #222, #ddd);
    text-align: center;
    display: block;
    border: none;
    margin: 1em auto;
    line-height: 2em;
    font-size: (@line-height*1em);
    box-sizing: content-box;
    &::before {
      content: "···";
      letter-spacing: 1em;
      margin-left: 1em;
    }
  }
  h1,
  h2,
  h3,
  h4 {
    margin-top: @line-height*2rem;
    margin-bottom: @line-height*1rem;
    color: @color-theme;
    font-family: PrettyAmpersand, @font-sansserif;
    code {
      font-family: inherit;
      font-style: inherit;
      line-height: inherit;
    }
    abbr[title] {
      text-decoration: inherit;
    }
    font-weight: normal;
    font-variant-numeric: lining-nums;
    page-break-after: avoid;
    &:hover .headerlink {
      visibility: visible;
    }
  }
  h1 {
    .font-size(1.3*@line-height);
  }
  h2 {
    .font-size(@line-height);
  }
  h3 {
    .font-size(0.8*@line-height);
  }
  .admonition {
    position: relative;
    display: block;
    margin-left: 0;
    margin-top: @line-height*1em;
    @media @mediumer {
      @supports (display: flex) {
        display: flex;
        margin-left: -@admonition-margin;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: (@admonition-margin - 0.6rem);
          width: 1px;
          background-color: @color-low;
        }
      }
    }
  }
  .admonition-title {
    box-sizing: border-box;
    font-style: italic;
    padding-right: 0;
    text-align: left;
    &::before {
      content: "📌  ";
      font-style: normal;
    }
    &,
    & + p {
      margin-top: 0;
    }
    @media @mediumer {
      @supports (display: flex) {
        padding-right: 1.2rem;
        flex: 0 0 @admonition-margin;
        align-self: center;
        text-align: right;
        &::before {
          display: none;
        }
      }
    }
  }

  .headerlink {
    padding-left: 0.3em;
    color: @color-low !important;
    visibility: hidden;
    opacity: 0.5;
  }
  .lf-table {
    margin-top: @line-height*1em;
    margin-bottom: @line-height*1em;
  }
  table {
    border-spacing: 2px;
    border-color: gray;
    border-collapse: separate;
    vertical-align: middle;
    font-variant-numeric: tabular-nums;
    th {
      padding: 0.5em;
      text-align: left;
      color: white;
      font-weight: normal;
      background: linear-gradient(
        to bottom,
        if(@dark-mode = false, @color-theme, darken(@color-theme, 25%)),
        if(
          @dark-mode = false,
          lighten(@color-theme, 5%),
          darken(@color-theme, 30%)
        )
      );
      &:first-child {
        border-radius: 4px 0 0 0;
      }
      &:last-child {
        border-radius: 0 4px 0 0;
      }
    }
    tbody {
      td {
        padding: 0.2em 0.5em;
      }
      tr {
        background-color: if(
          @dark-mode = false,
          lighten(@color-theme, 78%),
          lighten(@color-background, 10%)
        );
        &:nth-child(odd) {
          background-color: if(
            @dark-mode = false,
            lighten(@color-theme, 58%),
            lighten(@color-background, 2%)
          );
        }
      }
    }
    th code,
    tr code {
      background-color: inherit;
    }
  }

  blockquote {
    clear: left;
    position: relative;
    font-style: italic;
    em {
      font-style: normal;
    }
    &::before {
      display: block;
      pointer-events: none;
      font-size: (@line-height*2em);
      width: 1em;
      overflow: hidden;
      content: "«";
      color: @color-theme;
      font-family: Georgia, serif;
      position: absolute;
      left: -(1em / @line-height);
      top: -(1em / @line-height);
      @media @medium {
        font-size: (@line-height*1.5em);
        top: -(1em / @line-height);
      }
    }
    &:lang(en)::before {
      content: "“";
    }
    padding: 0;
  }

  ul,
  ol,
  dl {
    margin-left: 0;
    padding-left: 0;
    list-style-position: outside;
  }
  ul {
    list-style-type: square;
    list-style-type: "– ";
  }
  ol {
    list-style-type: decimal;
  }
  dd {
    display: inline;
  }
  dt {
    font-style: italic;
    color: @color-accent;
    display: inline;
    &::before {
      display: block;
      content: "\A";
      white-space: pre;
    }
    &:first-child::before {
      content: "";
    }
    &::after {
      content: ".";
      margin-right: 0.5em;
    }
  }

  sup, sub {
    font-size: @font-size-endnoteref;
    position: relative;
    top: -(1ex / @font-size-endnoteref);
    vertical-align: baseline;
  }
  sub {
    top: 0.6ex;
  }

  .toc {
    margin: (@line-height*1em) 0 (@line-height*1em) -1em;
    font-family: @font-sansserif;
    li {
      list-style-type: none;
      padding: 0 1em;
    }
  }

  .lf-media {
    /* Styling of broken images.
           See: https://bitsofco.de/styling-broken-images/ */
    &,
    &[alt]::after {
      display: block;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    &[alt]::after {
      content: "🖼" " " attr(alt);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      color: @color-low;
      background-color: @color-background;
    }
  }
  figure {
    display: block;
    margin-bottom: (@line-height*1em);
    .lf-media-outer {
      margin-bottom: 0;
    }
    figcaption {
      padding: 0 4%;
      text-align: center;
      font-style: italic;
      .font-size(0.875);
    }
  }

  // Dimensions:
  // .lf-media-outer > .lf-media-inner > .lf-media
  // .lf-video-outer > .lf-video-inner > .lf-video
  .lf-media {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    @supports (object-fit: contain) {
      max-height: 100vh;
      object-fit: contain;
    }
    & when (@dark-mode = true) {
      background-color: (#fff - @color-background);
      @supports (filter: invert(100%) hue-rotate(180deg)) {
        filter: invert(100%) hue-rotate(180deg);
        background-color: unset;
      }
    }
    pointer-events: initial;
  }
  .lf-media.lf-opaque {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    & when (@dark-mode = false) {
      filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.3))
        drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.3));
    }
    & when (@dark-mode = true) {
      filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.5))
        drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.5));
    }
  }
  object.lf-media.lf-opaque {
    background-color: (#fff - @color-foreground);
  }
  .lf-media-outer {
    margin-top: 1em;
    margin-bottom: (@line-height*1em);
    padding: 0 0 1em;
    @supports (object-fit: contain) {
      max-height: 100vh;
    }
  }
  .lf-media-inner {
    display: block;
    position: relative;
    pointer-events: none;
  }
}
