/* Search engine */

#lf-search {
  position: relative;
  margin-left: auto;
  margin-right: 0.5em;
  height: 100%;
  input[type="submit"] {
    position: absolute;
    top: calc((var(--lf-menu-height) - var(--lf-line-height) * 0.8rem) / 2);
    left: 0;
    bottom: calc((var(--lf-menu-height) - var(--lf-line-height) * 0.8rem) / 2);
    margin: auto 0;
    background-color: #eeed;
    border: none;
    outline: none;
    border-radius: 0 .3em .3em 0;
  }
  #lf-search-query {
    box-sizing: border-box;
    padding-left: 2.2em;
    font-size: 0.8rem;
    margin-top: calc((var(--lf-menu-height) - var(--lf-line-height) * 0.8rem) / 2);
    height: calc(var(--lf-line-height) * 0.8rem);
    border: none;
    outline: none;

    transition: width 0.5s;
    width: 10ch;
    background-color: #666;
    color: #eee;
  }
  input[type="submit"]:focus + #lf-search-query,
  #lf-search-query:focus {
    width: 20ch;
    padding-left: 2em;
    background-color: #eee;
    color: black;
  }
}
