/* -*- css -*- */

/* Helper functions */
.shadow (@width: 5px) {
    box-shadow: 0 0 @width rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 @width rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 @width rgba(0,0,0,0.2);                         
}
.rotated (@angle: 5deg) {
    transform: rotate(@angle);
    -moz-transform: rotate(@angle);
    -o-transform: rotate(@angle);
    -webkit-transform: rotate(@angle);
}
.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}
.gradient(@position: center top, @color1: #333333, @color2: #111111) {
    background-image: -moz-linear-gradient(@position, @color1, @color2);
    background-image: -ms-linear-gradient(@position, @color1, @color2);
    background-image: -o-linear-gradient(@position, @color1, @color2);
    background-image: -webkit-gradient(linear, @position, left bottom, from(@color1), to(@color2)); 
    background-image: -webkit-linear-gradient(@position, @color1, @color2);
    background-image: linear-gradient(@position, @color1, @color2);
}

@page-width: 850px;
@font-essays: 'Essays 1743',Palatino,'Book Antiqua',Georgia,'Times New Roman',serif;
@font-droid: 'Droid Sans','Helvetica Neue',Helvetica,arial,sans-serif;
@theme-color: #21519C;
@theme-background: #E2E1DE;
@footer-color: #232F4E;

.regular-link {
    color: @theme-color;
    border-bottom: 1px dotted;
    text-decoration: none;
    &:hover {
	color: #CC0000;
    }
}

@font-face {
    font-family: "Essays 1743";
    font-weight: normal;
    src: local('Essays 1743'), local('Essays1743'),
         url("../fonts/essays1743-webfont.eot");
    src: local('Essays 1743'), local('Essays1743'),
         url("../fonts/essays1743-webfont.eot?#iefix") format("embedded-opentype"),
	 url("../fonts/essays1743-webfont.woff") format("woff"),
	 url("../fonts/essays1743-webfont.ttf") format("truetype"),
	 url("../fonts/essays1743-webfont.svg#Essays1743") format("svg");
    font-style: normal;
}

@font-face {
    font-family: 'Droid Sans';
    font-weight: normal;
    src: local('Droid Sans'), local('DroidSans'),
         url('../fonts/DroidSans-webfont.eot');
    src: local('Droid Sans'), local('DroidSans'),
         url('../fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSans-webfont.woff') format('woff'),
         url('../fonts/DroidSans-webfont.ttf') format('truetype'),
         url('../fonts/DroidSans-webfont.svg#DroidSansRegular') format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'Droid Sans';
    font-weight: bold;
    src: local('Droid Sans Bold'), local('DroidSans-Bold'),
         url('../fonts/DroidSans-Bold-webfont.eot');
    src: local('Droid Sans Bold'), local('DroidSans-Bold'),
         url('../fonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSans-Bold-webfont.woff') format('woff'),
         url('../fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
    font-style: normal;
}


html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background: @theme-background url('../images/l/top-bar.png') repeat-x left top;
}

/* Menu bar */
#lf-navbar {
    margin: 0;
    #lf-homeicon {
	 position: absolute;
	 top: 2px;
	 left: 4px;
	 a {
	     width: 50px;
	     height: 51px;
	     background: url("../images/l/strawhat.png") no-repeat left top;
	     display: block;
	 }
    }
    #lf-menubar {
	min-height: 34px;
	background-color: black;
	.gradient(center top, #333333, #111111);
	.shadow;
	ul {
	    padding: 0.5em 0 0.5em 100px;
	}
	li {
	    display: inline;
	    padding: 0 2em 0 2em;
	}
	a {
	    text-decoration: none;
	    font: bold 15px @font-droid;
	    color: white;
	    text-shadow: #666 0px -1px 0px;
	}
    }
}
#lf-search {
    float: right;
    margin: 2px 6px 2px 6px;
    position: relative;
    #lf-search-glass {
	 cursor: pointer;
	 display: block;
	 padding: 7px 8px 5px;
	 position: absolute;
	 right: 0;
	 i {
	     background-image: url("../images/l/search-icon.png");
	     display: block;
	     width: 14px;
	     height: 14px;
	 }
    }
    #lf-search-query {
	 background: none repeat scroll 0 0 #666;
	 border: 1px solid black;
	 .shadow(1px);
	 .rounded-corners(4px);
	 color: #ccc;
	 width: 215px;
	 padding: 6px 25px 4px 6px;
    }
}

/* Pages */
#lf-pages {
    width: @page-width + 60;
    min-height: 250px;
    margin: 2em auto;
    overflow: auto;
    #lf-page-1, #lf-page-2, #lf-page {
	 background-color: #F9F9F9;
	 border: solid 1px #EEE;
	 .shadow;
    }

    #lf-page-2 {
	 margin-left: 5px;
	 z-index: -1;
	 .rotated(3deg);
    }
    #lf-page {
	 overflow: auto;
	 width: @page-width;
	 padding: 29px;
    }
}
.no-csstransforms, .no-js { 
    #lf-page-1, #lf-page-2 { 
	 display: none !important;
    }
}

.csstransforms {
    #lf-page-1, #lf-page-2 {
	 width: @page-width + 60;
	 max-height: 1024px;
	 position: absolute;	
    }
    #lf-page-1 { 
	 margin-left: -10px;
	 z-index: -2;
	 .rotated(-2deg);
    }
}

/* Content */
article {
    padding: 0.2em 2em 0.2em 2em;
    header {
	padding-bottom: 2em;
	margin-left: 1em;
	margin-right: 1em;
	h1 {
	    color: @theme-color;
	    font: normal 2.2em @font-essays;
	    text-transform: uppercase;
	    line-height: 1em;
	    padding-top: 0;
	    padding-bottom: 0;
	    text-shadow: #AAA 0px -1px 3px;
	}
	h2 {
	    text-align: right;
	    color: #6F6F6F;
	    font: normal 1.5em @font-essays;
	    line-height: 1.2em;
	    padding-top: 0;
	    padding-bottom: 0;
	}
	time {
	    color: #6F6F6F;
	    font: normal 0.8em @font-droid;
	}
    }
    line-height: 135%;
    p {
	padding-top: 1.1em;
    }
    a {
	.regular-link;
    }
    em, b, strong {
	font-weight: bold;
    }
    h1, h2, h3, h4, h5, h6 {
	color: @theme-color;
	margin-left: -0.3em;
    }
    h1 {
	font: bold 1.4em @font-droid;
	padding-top: 1.2em;
	padding-bottom: 0.6em;
    }
    h2 {
	font: bold 1.2em @font-droid;
	padding-top: 1.1em;
	padding-bottom: 0.5em;
    }
    h3 {
	font: bold 1.1em @font-droid;
	padding-top: 1em;
	padding-bottom: 0.4em;
    }
    h4 {
	font: normal 1.1em @font-droid;
	padding-top: 0.9em;
	padding-bottom: 0.3em;
    }
    h5 {
	font: normal 1em @font-droid;
	padding-top: 0.8em;
	padding-bottom: 0.3em;
    }
    h6 {
	font: normal 0.9em @font-droid;
	padding-top: 0.8em;
	padding-bottom: 0.3em;
    }
    li {
	background: url('../images/l/bullet.png') no-repeat 25px 4px;
	padding-left: 40px;
    }
    code {
	background-color: lighten(@theme-color, 55%);
	border: 1px solid lighten(@theme-color, 45%);
	padding: 0 4px 0 4px;
    }
    .codehilite, .codehilitetable {
	font-family: 'Consolas', 'Bitstream Vera Sans Mono','Courier New',monospace;
	font-size: 11px;
	line-height: 15px;
	background-color: transparent;
	border: 1px solid #E0E0E0;
	padding: 0;
	margin-bottom: 2em;
	width: 99%;
	margin: 0.8em 0 0.8em  2em;
	padding: 0.1em 0.7em 0.1em 0.7em;
    }
    .codehilitetable {

	.codehilite {
	    border: 0;
	    margin: 0;
	    padding: 0;
	}
	.code {
	    padding: 0.1em 0.7em 0.1em 0.7em;
	}
	.linenos {
	    color: #AFAFAF;
	    border-right: 3px solid #E0E0E0;
	    width: 3em;
	    text-align: right;
	    padding: 0.1em 0.3em 0.1em 0.3em;
	}

	/* Output of HtmlFormatter(linenos=True).get_style_defs() */
	.hll { background-color: #ffffcc }
	.c { color: #408080; font-style: italic } /* Comment */
	.err { border: 1px solid #FF0000 } /* Error */
	.k { color: #008000; font-weight: bold } /* Keyword */
	.o { color: #666666 } /* Operator */
	.cm { color: #408080; font-style: italic } /* Comment.Multiline */
	.cp { color: #BC7A00 } /* Comment.Preproc */
	.c1 { color: #408080; font-style: italic } /* Comment.Single */
	.cs { color: #408080; font-style: italic } /* Comment.Special */
	.gd { color: #A00000 } /* Generic.Deleted */
	.ge { font-style: italic } /* Generic.Emph */
	.gr { color: #FF0000 } /* Generic.Error */
	.gh { color: #000080; font-weight: bold } /* Generic.Heading */
	.gi { color: #00A000 } /* Generic.Inserted */
	.go { color: #808080 } /* Generic.Output */
	.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
	.gs { font-weight: bold } /* Generic.Strong */
	.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
	.gt { color: #0040D0 } /* Generic.Traceback */
	.kc { color: #008000; font-weight: bold } /* Keyword.Constant */
	.kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
	.kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
	.kp { color: #008000 } /* Keyword.Pseudo */
	.kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
	.kt { color: #B00040 } /* Keyword.Type */
	.m { color: #666666 } /* Literal.Number */
	.s { color: #BA2121 } /* Literal.String */
	.na { color: #7D9029 } /* Name.Attribute */
	.nb { color: #008000 } /* Name.Builtin */
	.nc { color: #0000FF; font-weight: bold } /* Name.Class */
	.no { color: #880000 } /* Name.Constant */
	.nd { color: #AA22FF } /* Name.Decorator */
	.ni { color: #999999; font-weight: bold } /* Name.Entity */
	.ne { color: #D2413A; font-weight: bold } /* Name.Exception */
	.nf { color: #0000FF } /* Name.Function */
	.nl { color: #A0A000 } /* Name.Label */
	.nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
	.nt { color: #008000; font-weight: bold } /* Name.Tag */
	.nv { color: #19177C } /* Name.Variable */
	.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
	.w { color: #bbbbbb } /* Text.Whitespace */
	.mf { color: #666666 } /* Literal.Number.Float */
	.mh { color: #666666 } /* Literal.Number.Hex */
	.mi { color: #666666 } /* Literal.Number.Integer */
	.mo { color: #666666 } /* Literal.Number.Oct */
	.sb { color: #BA2121 } /* Literal.String.Backtick */
	.sc { color: #BA2121 } /* Literal.String.Char */
	.sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
	.s2 { color: #BA2121 } /* Literal.String.Double */
	.se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
	.sh { color: #BA2121 } /* Literal.String.Heredoc */
	.si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
	.sx { color: #008000 } /* Literal.String.Other */
	.sr { color: #BB6688 } /* Literal.String.Regex */
	.s1 { color: #BA2121 } /* Literal.String.Single */
	.ss { color: #19177C } /* Literal.String.Symbol */
	.bp { color: #008000 } /* Name.Builtin.Pseudo */
	.vc { color: #19177C } /* Name.Variable.Class */
	.vg { color: #19177C } /* Name.Variable.Global */
	.vi { color: #19177C } /* Name.Variable.Instance */
	.il { color: #666666 } /* Literal.Number.Integer.Long */

    }
    blockquote {
	padding: 8px;
	margin: 0 1em 0 3em;
	background-color: lighten(@theme-color, 50%);
	border-top: 1px dotted darken(@theme-color, 30%);
	border-bottom: 1px dotted darken(@theme-color, 10%);
	background-image: url("../images/l/openquote.png");
	background-position: top left;
	background-repeat: no-repeat;
	text-indent: 23px;
	p {
	    background-image: url("../images/l/closequote.png");
	    background-repeat: no-repeat;
	    background-position: bottom right;
	}
    }
    img {
	padding: 0;
	border: 1px dotted @theme-color;
	display: block;
	margin: 0 auto;
    }
}

/* Additional boxes */
#lf-translations {
    z-index: 101;
    position: absolute;
    left: 0;
    top: 160px;
    margin-left: -5px;
    background-color: white;
    opacity: 0.6;
    width: 10em;
    padding: 0.7em 0.1em 0.7em 10px;
    border: 1px solid @theme-color;
    font: normal 12px @font-droid;
    p {
	color: #333;
	font-weight: bold;
	text-shadow: #AAA 0px -1px 0px;
    }
    li {
	padding-left: 1em;
	a {
	    text-decoration: none;
	    color: @theme-color;
	    &:hover {
		color: #CC0000;
	    }
	}
    }
}

/* Footer */
footer {
    font-size: 0.85em;
    line-height: 1.3em;
    border-top: 3px solid darken(@footer-color, 10%);
    background-color: @footer-color;
    .shadow(10px);
    padding: 0.7em 4em 0.7em 0;
    margin-top: 3em;
    color: #909090;
    text-shadow: darken(@footer-color, 50%) 0px -1px 0px;
    a {
	text-decoration: none;
	color: #909090;
	&:hover {
	    color: #F0F0F0;
	}
    }
    address {
	float: right;
    }
    h3 {
	display: inline;
	padding: 2px 1em 2px 4em;
	width: 10em;
	overflow: hidden;
	border-right: 1px solid #909090;
    }
    ul {
	display: inline;
    }
    li {
	display: inline;
	padding: 0 0.7em 0 0.7em;
    }
}

/* Print, hide most stuff */
@media print {
    footer, nav, #lf-page-1, #lf-page-2, #lf-translations {
	display: none !important;
    }
    article {
	blockquote {
	    border-left: 5px solid @theme-color;
	}
	ul {
	    list-style: disc;
	    margin-left: 2em;
	    li {
		padding-left: 0;
	    }
	}
    }
}
