/* -*- css -*- */

#lf-links {
    font-size: 0.875em;
    color: #6F6F6F;
    font-weight: normal;
    font-family: @font-headings;
    .lf-link {
        text-align: right;
        & > p, ul, li {
            display: inline;
        }
        li {
            padding: 0;
            &:first-child:before {
                content: "";
            }
            &:before {
                content: " — ";
            }
        }
    }
}
