---
combine:
   files: luffy.*.less
   remove: yes
   where: bottom
uses_template: true
---
/* Warning: if using a custom version of modernizr, any new modernizr
 * selector should be enabled in the custom build. See:
 * http://modernizr.github.com/Modernizr/2.0-beta/
 */

/* Helper functions */
@import "common";
{% if site.config.mode == "development" %}
@import "grid";
{% endif %}

/* Beautiful ampersand */
.amp {
    font-family: Baskerville,
                 'Goudy Old Style','Goudy Bookletter 1911',
                 Palatino,'Palatino Linotype','URW Palladio L','Cochin',
		 'Book Antiqua','Apple Chancery','Constantia',
		 @font-regular;
    font-style: italic;
    font-weight: normal;
    line-height: 75%;
}

.regular-link {
    color: @theme-color;
    text-decoration: none;
    &:hover {
	color: lighten(@theme-color, 20%);
	border-bottom: 1px solid lighten(@theme-color, 20%);
    }
}

/* Local Variables: */
/* mode: css        */
/* End:             */
