/* Print, hide most stuff */
@media print {
  :root {
    color-scheme: light;
  }
  footer,
  nav,
  #lf-also,
  #lf-bottomlinks,
  #isso-thread,
  .lf-backtotop,
  .lf-copy {
    display: none !important;
  }
  a:visited {
    text-decoration-color: var(--lf-color-link-notvisited-active) !important;
  }
  figure,
  table {
    break-inside: avoid;
  }
  body {
    color: black;
    background-color: white;
  }
}
