/* Search widget in navbar */
#lf-search {
  position: relative;
  margin-inline: auto 0.5em;
  height: 100%;
  font-size: 0.8rem;
  input[type="submit"] {
    all: unset;
    position: absolute;
    inset-block: calc((var(--lf-menu-height) - 0.8rlh) / 2);
    left: 0;
    margin: auto 0;
    padding: 1px 4px;
    background-color: #eeed;
    border-radius: 0 0.3em 0.3em 0;
  }
  #lf-search-query {
    all: unset;
    box-sizing: border-box;
    padding-left: 2.2em;
    margin-top: calc((var(--lf-menu-height) - 0.8rlh) / 2);
    height: 0.8rlh;

    transition: width 0.5s;
    width: 10ch;
    background-color: #666;
    color: #eee;
  }
  input[type="submit"]:focus + #lf-search-query,
  #lf-search-query:focus {
    width: 20ch;
    padding-left: 2em;
    background-color: #eee;
    color: black;
  }
}
