article {
    sup {
        font-size: @font-size-endnoteref;
        position: relative;
        top: -(1ex/@font-size-endnoteref);
        vertical-align: baseline;

        /* Increase surface size, notably for touch devices */
        &[id^=fnref-] {
            white-space: nowrap;
            margin-left: .1em;
        }
        .endnote-ref {
            user-select: none;
            &::after {
                content: '';
                position: absolute;
                top: -.2em;
                bottom: -.7em;
                left: -.3em;
                right: -.3em;
                @media (pointer: coarse) {
                    top: -.3em;
                    bottom: -1.2em;
                    left: -.9em;
                    right: -.9em;
                }
            }
        }
    }

    .endnote, .lf-sidenote {
        pre {
            font-size: .875em;
        }
        p, ul, ol, & > .endnote-backref {
            .font-size(0.875);
        }
        p {
            margin-top: (@line-height/0.875em);
        }
    }

    .lf-sidenote {
        box-sizing: border-box;
        display: none;
        position: relative;
        float: right;
        clear: right;
        margin-right: -@sidenote-width;
        width: @sidenote-width;
        padding: @line-height*1rem;
        padding-left: @sidenote-margin;
        .lf-refmark {
            position: absolute;
            left: 0;
            top: (@line-height*1rem - @font-size-endnoteref);
            font-size: @font-size-endnoteref;
            width: (@sidenote-margin - .3rem);
            text-align: right;
            & + p {
                margin-top: 0 !important;
            }
        }
    }

}

/* Footnotes require a minimal width */
@media @larger {
    .lf-main {
        .lf-sidenote {
            display: block;
        }
        .endnote {
            display: none;
        }
        #lf-text a.endnote-ref {
            .disabled-link();
            &::after {
                content: "→";
                position: initial;
                vertical-align: middle;
            }
        }
    }
}
