/* Menu bar */
#lf-navbar {
    margin: 0;
    #lf-homeicon {
        position: absolute;
        z-index: 2000;
        left: 4px;
        top: 2px;
    }
}
#lf-menubar {
    overflow: hidden;
    font-family: @font-headings;
    font-size: 1.1em;
    @media @smaller {
        font-size: inherit;
    }
    line-height: 1;
    height: 2em;
    background-color: black;
    background-image: linear-gradient(to left, #333333, #111111);
    box-shadow: inset 0 2px 2px -2px rgba(200,200,200,0.4), 0 0 5px rgba(0,0,0,0.2);
    ul {
        padding: 0 2em 0 100px;
        @media @small {
            padding: 0 0 0 55px;
        }
        @media @small {
            padding: 0 0 0 55px;
        }
    }
    li {
        display: inline-block;
        padding: .5em 2em .5em 2em;
        @media @small {
            padding: .5em .7em .5em .7em;
        }
        &.active {
            background-color: black;
            border-left: 1px solid #444;
            border-right: 1px solid #444;
        }
    }
    a {
        text-decoration: none;
        color: white;
        text-shadow: 0px -1px 0px #666;
    }
}
