article {
    sup {
        font-size: 0.7em;
        vertical-align: baseline;
        position: relative;
        top: -0.7em;

        // Increase surface size, notably for touch devices
        &[id^=fnref-] {
            white-space: nowrap;
        }
        .footnote-ref {
            user-select: none;
            &::after {
                content: '';
                position: absolute;
                top: -.2em;
                bottom: -.7em;
                left: -.3em;
                right: -.3em;
                @media @touch {
                    top: -.3em;
                    bottom: -1.2em;
                    left: -.9em;
                    right: -.9em;
                }
            }
        }
    }

    .footnote, .lf-sidenote {
        pre {
            font-size: .875em;
        }
        p, ul, ol, & > .footnote-backref {
            .font-size(0.875);
        }
        p {
            margin-top: (@line-height/0.875em);
        }
    }

    .lf-sidenote {
        box-sizing: border-box;
        display: none;
        position: relative;
        float: right;
        clear: right;
        margin-right: -@sidenote-width;
        width: @sidenote-width;
        padding: 1em;
        padding-left: @sidenote-margin;
        .lf-refmark {
            position: absolute;
            left: 3rem;
            top: 0;
            padding: 0 .5em .1em .4em;
            background-color: @sidenote-ref-color;
            border: 1px solid #ddd;
            border-bottom-right-radius: 50%;
            font-size: .8em;
            & + p {
                margin-top: 0 !important;
            }
        }
    }

}

/* Footnotes require a minimal width */
@media @larger {
    main {
        .lf-sidenote {
            display: block;
        }
        .footnote {
            display: none;
        }
        #lf-text .footnote-ref {
            .disabled-link;
            background-color: @sidenote-ref-color;
            border: 1px solid darken(@sidenote-ref-color, 5%);
        }
    }
}
