/* Search widget in navbar */
#lf-search {
  position: relative;
  margin-inline: auto 0.5em;
  height: 100%;
  font-size: 0.8rem;
  input[type="submit"] {
    all: unset;
    cursor: pointer;
    position: absolute;
    inset-block: calc((var(--lf-menu-height) - 0.8rlh) / 2);
    left: 0;
    width: 1.7em;
    background-color: #eee;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"%3E%3Cpath fill="currentColor" fill-rule="evenodd" d="M11.5 7a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0m-.82 4.74a6 6 0 1 1 1.06-1.06l2.79 2.79a.75.75 0 1 1-1.06 1.06z" clip-rule="evenodd"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1em;
    border-radius: 0 0.4em 0.4em 0;
  }
  #lf-search-query {
    all: unset;
    box-sizing: border-box;
    padding-left: 2.2em;
    margin-top: calc((var(--lf-menu-height) - 0.8rlh) / 2);
    height: 0.8rlh;

    transition: width 0.5s;
    width: 10ch;
    background-color: #666;
    color: #eee;
  }
  input[type="submit"]:focus + #lf-search-query,
  #lf-search-query:focus {
    width: 20ch;
    padding-left: 2em;
    background-color: #eee;
    color: black;
  }
}
