/* -*- css -*- */
body {
    position: relative;		/* To be able to apply z-index */
    z-index: -10;
    background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAACTBAMAAABMnjV/AAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sKDwgqGaPte+sAAAAbUExUReLh3gEAGQQDAAEAAAABAAAAAAABAAAAAQAAAAOApvoAAAAIdFJOUwAJH0uCrczbH2Lt+QAAAAFiS0dEAIgFHUgAAABdSURBVDjL7c1BDQJREETBtoAFLGABC1jAQrWDsc1hlhMnjptsXX5+epKXoUgZI1TJfieqKo59jr0YYtTeoRnDSJWK4buP5updvat3np71875XXivPlcfKfeW28qcPIJLMY2JzIooAAAAASUVORK5CYII=') repeat-x left top;
}
html {
    background: @theme-background url('data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAMAAADz0U65AAAAFVBMVEXv7u/f3d/n5uff3N/w7/Dv7e/w7vA7L+vAAAAAK0lEQVR42k3KsQ0AIAwDwXeA7D8yBoSS4grLD0gPEdfQRPY3rN6knd+ymg0KYwBQlnIIcgAAAABJRU5ErkJggg==') repeat;
}

/* Menu bar */
#lf-navbar {
    margin: 0;
    #lf-homeicon {
	 position: absolute;
	 top: 2px;
	 left: 4px;
    }
}
#lf-menubar {
    overflow: hidden;
    font: bold 1em @font-headings;
    line-height: 1;
    height: 2em;
    background-color: black;
    .gradient(center top, #333333, #111111);
    .shadow;
    ul {
	padding: 0em 2em 0em 100px;
    }
    li {
	.inline-block;
	padding: 0.5em 2em 0.5em 2em;
	&.active {
	    background-color: black;
	    border-left: 1px solid #444;
	    border-right: 1px solid #444;
	}
    }
    a {
	text-decoration: none;
	color: white;
	text-shadow: #666 0px -1px 0px;
    }
}
@media only screen and (max-width: 768px) {
    #lf-menubar {
	font-size: 0.8em;
	ul {
	    padding-left: 55px;
	    padding-right: 0;
	}
	li {
	    padding: 0.5em 0.7em 0.5em 0.7em;
	}
    }
}
