/* -*- css -*- */
main #isso-thread {
    margin-top: 2em;
    padding: 0.6em;
    font-size: .8888rem;

    /* Override some of the styles */
    .isso-comment .text {
        p {
            text-align: left;
            margin: 0;
        }
        p, pre {
            margin-bottom: @line-height * 1em;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .isso-postbox {
        input {
            border-radius: 0;
            box-shadow: none;
        }
        &:after {
            content: "Use Markdown syntax to format your comment.";
            &:lang(fr) {
                content: "Utilisez la syntaxe Markdown pour mettre en forme votre commentaire.";
            }
            font-size: .8em;
            font-style: italic;
        }
    }

    /* Highlight my own posts */
    .avatar > svg[data-hash="0bb73c4f5196"] {
        box-shadow: 0 0 12px #B80F28;
        border-radius: 50%;
    }
}
.isso-comment-header, .isso-comment-footer, .isso-comment-loader {
    font-family: @font-headings;
}
