html {
  &.lf-debug-grid-1,
  &.lf-debug-grid-2 {
    position: relative;
  }
  &.lf-debug-grid-1::after,
  &.lf-debug-grid-2::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 9999;
    background: linear-gradient(
      180deg,
      rgba(200, 225, 255, 0.6) 1px,
      transparent 1px
    );
    background-size: 20px 1rlh;
    pointer-events: none;
  }
  &.lf-debug-grid-2::after {
    background-position: 0 var(--lf-baseline-offset, 0);
  }
}
