/* Print, hide most stuff */
@media print {
    footer, nav, #lf-links, #lf-share, #lf-bottomlinks, #isso-thread, .lf-sprite-copy {
        display: none !important;
    }
    main {
        font-feature-settings: "kern" 1;
        font-kerning: normal;
        abbr {
            text-decoration: none;
        }
    }
    body when not (@foreground-color = black) {
        color: black;
    }
}
