/* File listing */

.lf-main .lf-listing {
  margin: calc(var(--lf-line-height) * 1em) 0 calc(var(--lf-line-height) * 2em);
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  /* Icons */
  img.lf-filetype {
    margin: 0;
    padding-right: 0.5em;
    vertical-align: text-top;
  }

  li {
    box-sizing: border-box;
    width: 50%;
    padding: 4px 1%;
    background-color: var(--lf-color-table-row);
    &:nth-child(4n),
    &:nth-child(4n + 1) {
      background-color: var(--lf-color-table-row-alt);
    }

    @media (--lf-small) {
      width: 100%;
      &:nth-child(4n) {
        background-color: var(--lf-color-table-row);
      }
      &:nth-child(odd) {
        background-color: var(--lf-color-table-row-alt);
      }
    }
  }
}
