.lf-text {
  .lf-media-outer {
    margin-inline: auto;
    max-width: 100%;
  }
}

.lf-main {
  .lf-media {
    /* Styling of broken images.
           See: https://bitsofco.de/styling-broken-images/ */
    &,
    &[alt]::after {
      display: block;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    &[alt]::after {
      content: "🖼" " " attr(alt);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      color: var(--lf-color-low);
      background-color: var(--lf-color-background);
    }
  }
  figure {
    display: block;
    margin-bottom: 1rlh;
    figcaption {
      padding: 0 4%;
      margin: 0 auto;
      text-align: center;
      text-wrap: balance;
      font-style: italic;
      em {
        font-style: normal;
      }
      @apply --lf-font-scale(-1);
    }
  }

  /* Dimensions:
   * .lf-media-outer > .lf-media-inner > .lf-media
   */
  .lf-media {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    @media (prefers-color-scheme: dark) {
      filter: invert(100%) hue-rotate(180deg);
    }
    pointer-events: initial;
  }
  .lf-media.lf-opaque {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.3))
      drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3))
      drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.3));
    @media (prefers-color-scheme: dark) {
      filter: drop-shadow(0px 0px 1px rgba(100, 100, 100, 0.7))
        drop-shadow(0px 0px 2px rgba(100, 100, 100, 0.7))
        drop-shadow(0px 0px 3px rgba(100, 100, 100, 0.7));
    }
  }
  object.lf-media.lf-opaque {
    background-color: var(--lf-color-foreground-inverted);
  }
  .lf-media-outer {
    box-sizing: content-box;
    margin-top: 1rlh;
    max-height: 100vh;
  }
  figure > .lf-media-outer {
    padding: 0.5rlh 0; /* this will be modified by JS to keep vertical rhythm */
  }
  .lf-media-inner {
    display: block;
    position: relative;
    pointer-events: none;
  }
}
