.sprite() {
    background: url("../images/l/sprite.png") no-repeat;
    background: url("../images/l/sprite.svg") no-repeat, linear-gradient(transparent,transparent);
}

.lf-sprite-facebook {
    .sprite();
    background-position: (-54px - (28px - 24px)/2) (0px - (28px - 24px)/2);
    width: 24px;
    height: 24px;
}

.lf-sprite-google {
    .sprite();
    background-position: (-82px - (28px - 24px)/2) (0px - (28px - 24px)/2);
    width: 24px;
    height: 24px;
}

.lf-sprite-hackernews {
    .sprite();
    background-position: (0px - (28px - 24px)/2) (-55px - (28px - 24px)/2);
    width: 24px;
    height: 24px;
}

.lf-sprite-linkedin {
    .sprite();
    background-position: (-28px - (28px - 24px)/2) (-55px - (28px - 24px)/2);
    width: 24px;
    height: 24px;
}

.lf-sprite-mail {
    .sprite();
    background-position: (-56px - (28px - 24px)/2) (-55px - (28px - 24px)/2);
    width: 24px;
    height: 24px;
}

.lf-sprite-reddit {
    .sprite();
    background-position: (-110px - (28px - 24px)/2) (0px - (28px - 24px)/2);
    width: 24px;
    height: 24px;
}

.lf-sprite-rss {
    .sprite();
    background-position: (-110px - (20px - 16px)/2) (-56px - (20px - 16px)/2);
    width: 16px;
    height: 16px;
}

.lf-sprite-search {
    .sprite();
    background-position: (-82px - (18px - 14px)/2) (-28px - (18px - 14px)/2);
    width: 14px;
    height: 14px;
}

.lf-sprite-strawhat {
    .sprite();
    background-position: (0px - (54px - 50px)/2) (0px - (55px - 51px)/2);
    width: 50px;
    height: 51px;
}

.lf-sprite-twitter {
    .sprite();
    background-position: (-110px - (28px - 24px)/2) (-28px - (28px - 24px)/2);
    width: 24px;
    height: 24px;
}

