pre,
code,
code .amp,
pre .amp,
kbd {
  font-family: var(--lf-font-monospace);
  font-style: normal;
  font-variant-numeric: lining-nums;
}
code {
  background-color: var(--lf-color-code-background);
  line-height: 1;
}
pre {
  margin: 0;
  word-break: break-all;
  line-break: anywhere;
  white-space: pre-wrap;
  clear: left;
  & code {
    background-color: initial;
    line-height: inherit;
  }
}
kbd {
  display: inline;
  white-space: nowrap;
  padding: 1px 2px;
  vertical-align: baseline;
  background: var(--lf-color-kbd-background);
  border: 1px solid var(--lf-color-kbd-border);
  border-radius: 3px;
  box-shadow: 0 1px 1px #bbb;
  line-height: 1;
}
