/* Search page */
#lf-search-form {
  text-align: center;
  margin: 2rlh auto;
  input[type="search"] {
    @apply --lf-font-size(1.2);
    padding: 0 0.5rlh;
    width: 30ch;
    height: 2rlh;
    max-width: 90%;
  }
}
.lf-search-result {
  margin: 1rlh 0;
  h3, p {
    margin-block: 0;
    margin-bottom: 0;
  }
  .lf-search-meta {
    @apply --lf-font-size(0.875);
    color: var(--lf-color-low);
    margin: 0;
  }
}
.lf-search-sentinel {
  height: 1em;
}

.lf-search-spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
  & > div {
    width: 18px;
    height: 18px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  .bounce1 { animation-delay: -0.32s; }
  .bounce2 { animation-delay: -0.16s; }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
  } 40% {
    transform: scale(1.0);
  }
}
