/* Back to top button */
.lf-backtotop {
  opacity: 0.7;
  @supports (animation-timeline: scroll()) {
    animation: lf-backtotop-show linear both;
    animation-timeline: scroll();
    animation-range: 100vh 400vh;
  }
  &:hover {
    opacity: 1;
  }
  a {
    position: fixed;
    text-decoration: none;
    bottom: 5px;
    right: 0;
    &::before {
      content: "";
      display: block;
      width: var(--lf-minimal-margin);
      height: var(--lf-minimal-margin);
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='1.5'%3E%3Cpath d='M4 4h16M12 22V8M6 14l6-6 6 6'/%3E%3C/svg%3E")
        center / contain no-repeat;
      @media (prefers-color-scheme: dark) {
        filter: invert(100%) hue-rotate(180deg);
      }
    }
  }
}

@keyframes lf-backtotop-show {
  from {
    /*
       As per https://www.w3.org/TR/web-animations/#animating-visibility:

       For the visibility property, visible is interpolated as a discrete step
       where values of p between 0 and 1 map to visible and other values of p
       map to the closer endpoint; if neither value is visible then discrete
       animation is used.

       So, when the animation starts, visibility becomes "visible". Note that
       this animation has animation-fill-mode: both, so visibility stick
       before/after the animation.
     */
    visibility: hidden;
    opacity: 0.1;
  }
  to {
    visibility: visible;
    opacity: 0.7;
  }
}
