/* Menu bar */
#lf-navbar {
  position: absolute;
  top: 0;
  inset-inline: 0;
  margin: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-family: var(--lf-font-sansserif);
  line-height: 1;
  height: var(--lf-menu-height);
  background-color: var(--lf-color-footer-background);
  ul {
    padding: 0;
    @media (--lf-small) {
      padding: 0 1em;
    }
  }
  li {
    display: inline-block;
    padding: 0.5em 0.7em;
    @media (--lf-medium) {
      padding: 0.5em 2em;
    }
    &.active {
      font-weight: bold;
    }
    transition: transform 0.2s;
    &:hover {
      transform: translateY(-2px);
    }
  }
  a {
    text-decoration: none;
    color: var(--lf-color-footer-foreground);
  }

  &::before {
    @supports (mix-blend-mode: overlay) {
      @media (--lf-small) {
        content: "";
        flex: none;
        width: calc(var(--lf-menu-height) * 0.8);
        height: calc(var(--lf-menu-height) * 0.8);
        margin-inline-start: 0.5em;
        pointer-events: none;
        opacity: 0.7;
        mix-blend-mode: overlay;
        background: url("../images/favicon.svg") center / contain no-repeat;
        filter: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter%20id='engrave'%20color-interpolation-filters='sRGB'%3E%3CfeColorMatrix%20type='saturate'%20values='0'/%3E%3CfeConvolveMatrix%20order='3'%20preserveAlpha='true'%20divisor='1'%20bias='0.5'%20kernelMatrix='-2%20-1%200%20-1%200%201%200%201%202'/%3E%3C/filter%3E%3C/svg%3E#engrave");
      }
    }
  }
}
