/* File listing */

.lf-main .lf-listing {
  margin: 1rlh 0 2rlh;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  /* Icons */
  img.lf-filetype {
    margin: 0;
    padding-right: 0.5em;
    vertical-align: middle;
  }

  li {
    width: 100%;
    padding: 0 1%;
    background-color: var(--lf-color-table-row);
    &:nth-child(odd) {
      background-color: var(--lf-color-table-row-alt);
    }

    @media (--lf-medium) {
      width: 50%;
      &:nth-child(odd) {
        background-color: var(--lf-color-table-row);
      }
      &:nth-child(4n),
      &:nth-child(4n + 1) {
        background-color: var(--lf-color-table-row-alt);
      }
    }
  }
}
