/* Footer at the bottom of the page, even when content is small */
body {
  display: grid;
  grid-template-columns: auto 0px; /* Second column is for back to top */
  grid-template-rows: 1fr auto auto;
  min-height: 100vh;
}
body > * {
  grid-column: 1;
  grid-row: 3;
}
body > main {
  grid-row: 1;
}
body > footer {
  grid-row: 2;
}

html {
  scroll-behavior: smooth;
}
