---
uses_template: true
---

{{ include_file("common.css") }}

#lf-text {
  > .lf-list-titles,
  > .lf-list-tags {
    margin-top: calc(var(--lf-line-height) * 1em);
  }
  .lf-list-titles,
  .lf-list-tags {
    margin-left: 0;
  }
}
.lf-title {
  font-family: PrettyAmpersand, var(--lf-font-serif);
}
.lf-list-titles {
  margin-top: 0;
  li {
    hyphens: none;
    list-style-type: none;
    margin-left: 8em;
    @media (--lf-small) {
      margin-left: 7em;
    }
    position: relative;
  }
  time {
    position: absolute;
    display: block;
    top: 0;
    left: -11em;
    width: 10em;
    text-align: right;
    color: light-dark(#444, #bbb);
    font-family: var(--lf-font-monospace);
    font-variant-numeric: lining-nums;
    @media (--lf-small) {
      --lf-font-factor: 0.875;
      @apply --lf-font-size;
    }
  }
  .lf-outdated {
    opacity: 0.5;
    &:hover,
    &:active {
      opacity: 1;
    }
  }
}
.lf-list-tags {
  .lf-tag {
    padding: 0;
  }
}

input#lf-more {
  display: none;
  & ~ label {
    display: inline-block;
    width: 7em;
    @media (--lf-small) {
      --lf-font-factor: 0.875;
      @apply --lf-font-size;
    }
    text-align: right;
    color: #6f6f6f;
    font-family: var(--lf-font-monospace);
    text-decoration: underline;
    cursor: pointer;
  }
  & ~ ul {
    display: none;
  }
  &:checked ~ label {
    display: none;
  }
  &:checked ~ ul {
    display: block;
  }
}
