/* -*- css -*- */

/* Content */

article {
    padding: 0.2em 2em 0.2em 2em;
}
#lf-page {
    font: normal 1em @font-regular;
    line-height: 1.5;
    header {
	padding-bottom: 2em;
	margin: 2em 1em;
	h1 {
	    color: @theme-color;
	    font: bold 2.2em @font-headings;
	    margin: 0;
	}
	h2 {
	    text-align: right;
	    color: #6F6F6F;
	    font: bold 1.5em @font-headings;
	    margin: 0;
	}
	time {
	    font: bold 1em @font-headings;
	}
    }
    time {
	color: #6F6F6F;
    }
    p {
	margin: 1.5em 0 0 0;
	word-spacing: 0.25em;
    }
    a {
	.regular-link;
    }
    em {
	font-style: italic;
    }
    b, strong {
	font-weight: bold;
    }
    del {
	text-decoration: line-through;
	color: #666;
    }
    ins {
	font-style: italic;
	text-decoration: none;
    }
    abbr {
	cursor: help;
	text-shadow: @theme-color 0px 0px 1px;
    }
    h1, h2, h3, h4, h5, h6 {
	color: @theme-color;
	font-family: @font-headings;
	font-weight: bold;
	text-rendering: optimizeLegibility;
    }
    h1 {
	font-size: 1.4em;
	line-height: 1.0714;
	margin: 2.14em 0 1.07em -0.3em;
    }
    h2 {
	font-size: 1.2em;
	line-height: 1.25;
	margin: 2.5em 0 1.25em -0.1em;
    }
    h3 {
	font-size: 1.1em;
	line-height: 1.36;
	margin: 2.73em 0 1.36em -0.1em;
    }
    h4 {
	font-size: 1em;
	line-height: 1.5;
	margin: 3em 0 1.5em -0.1em;
    }
    h6 {
	font-size: 0.9em/1;
	line-height: 1.67;
	margin: 3.33em 0 1.67em -0.1em;
    }
    code {
	.background-transparent(lighten(@theme-color, 55%));
	border: 1px solid lighten(@theme-color, 45%);
    }
    sup {
	font-size: 0.7em;
	vertical-align: baseline;
	position: relative;
	top: -0.7em;
    }
    table {
	overflow: auto;
	width: 92%;
	margin: 1.5em auto;
	border-spacing: 2px;
	border-color: gray;
	border-collapse: separate;
	vertical-align: middle;
	th {
	    padding: 0.5em;
	    text-align: left;
	    background-color: @theme-color;
	    color: white;
	    .gradient(center bottom, @theme-color, lighten(@theme-color, 5%));
	    a {
		color: lighten(@theme-color, 40%);
	    }
	    &:first-child {
		.rounded-corners(4px 0 0 0);
	    }
	    &:last-child {
		.rounded-corners(0 4px 0 0);
	    }
	}
	tbody {
	    td {
		padding: 0.2em 0.5em;
	    }
	    tr {
		.background-transparent(lighten(@theme-color, 75%));
		color: #444;
		&:nth-child(odd) {
		    .background-transparent(lighten(@theme-color, 55%));
		}
		&:hover {
		    color: black;
		}
	    }
	}
    }
}

#lf-page blockquote {
    font-style: italic;
    em { font-style: normal; }    
}
#lf-page article {
    blockquote {
	p { margin: 1em 26px; }
	&:before {
	    display: block;
	    font-size: 72px;
	    line-height: 64px;
	    height: 64px;
	    overflow: hidden;
	    content: '«';
	    color: @theme-color;
	    margin-left: -20px;
	    margin-bottom: -64px;
	    font-family: Baskerville,
                 'Goudy Old Style','Goudy Bookletter 1911',
                 Palatino,'Palatino Linotype','URW Palladio L','Cochin',
		 'Book Antiqua','Apple Chancery','Constantia',
		 @font-regular;
	}
	&:lang(en):before {
	    content: '“';
	    font-family: Georgia, @font-headings;
	}
	margin: 1.5em 1em 1.5em 1.5em;
	.background-transparent(lighten(@theme-color, 50%));
	border-top: 1px dotted darken(@theme-color, 30%);
	border-bottom: 1px dotted darken(@theme-color, 10%);
    }
}
.dsq-comment-message {
    blockquote {
	margin: 1.5em 26px;
    }
}

.footnote {
    hr {
	width: 30%;
	height: 1px;
	border: none;
	color: black;
	background-color: black;
    }
    font-size: 0.8em;
    line-height: 1.875;
}

article, .dsq-comment-message {
    ul {
	margin-left: 3em;
	list-style-type: square;
    }
    ol {
	list-style-type: decimal;
	padding-left: 40px;
    }
}

#lf-page .toc {
    margin: 1.666em 0 1.666em 3em;
    padding: 0 2em;
    font-size: 0.9em;
    line-height: 1.66;
    max-width: 25em;
    border-left: 1px dashed lighten(@theme-color, 30%);
    .background-transparent(lighten(@theme-color, 55%));
    ul {
	margin-left: 0.5em;
	list-style-type: decimal;
	font-weight: bold;
	ul {
	    font-weight: normal;
	    ul {
		font-size: 90%;
	    }
	}
	li {
	    background: none;
	    padding-left: 1em;
	}
    }
}

#lf-main {
    img {
	padding: 0;
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
    }
}

.lf-main-title header {
    h1 {
	text-align: center;
	color: black;
	font: bold 4em @font-headings;
	padding-top: 0.4em;
	text-transform: none;
    }
    h2 {
	text-align: center;
	font: bold 2.2em @font-headings;
    }
}

#lf-prevnext {
    margin-top: 2em;
    margin-right: 0.4em;
    .lf-prev {
	float: left;
	display: inline-block;
    }
    .lf-next {
	float: right;
	text-align: right;
	display: inline-block;
    }
    .lf-sprite {
	vertical-align: middle;
	color: transparent;
    }
    a {
	border-bottom: none;
	font-weight: bold;
	font-family: @font-headings;
    }
}

@media only screen and (max-width: 768px) {
    article {
	padding: 0.2em 0.3em 0.2em 0.3em;
	.toc {
	    margin-left: 0.5em;
	}
    }
}
