/* Styling of bottom links */
#lf-bottomlinks {
  margin: 1rlh 0;
  li {
    list-style-type: none;
    display: flex;
    text-wrap: balance;
  }
  .lf-sym {
    text-align: center;
    width: 1.5em;
    flex-shrink: 0;
  }
  .lf-webshare {
    display: none;
  }
}

/* Styling of "a" links. They are kept here to ensure we understand specificity
   and ensure we don't repeat the definitions too much. Note that nested rules
   act like a :is and the specificity of the most specific one is the
   specificity of the set. */
.lf-main a {
  @apply --lf-not-underlined-link;
}
.lf-main {
  .lf-text #lf-also a,
  .lf-text .headerlink,
  .lf-text .lf-tags a,
  .lf-text .lf-list-titles a,
  .lf-text .lf-search-result a,
  .lf-text sup a.lf-sidenote-ref {
    @apply --lf-not-underlined-link;
  }
}
.lf-main .lf-text .toc a {
  @apply --lf-not-underlined-not-visited-link;
}
.lf-main .lf-text a {
  &[href^="#video:seek-"],
  &[href^="#mstp:"] {
    html.nojs & {
      @apply --lf-disabled-link;
    }
    &::after {
      line-height: 0;
      vertical-align: 0.2ex;
      font-size: 0.75em;
    }
  }
  html:not(.nojs) & {
    &[href^="#video:seek-"]::after {
      content: "\202F⏭️";
    }
    &[href^="#mstp:"]::after {
      content: "\202F🎯";
    }
  }
}
.lf-main .lf-text,
.isso-comment .isso-text {
  a {
    @apply --lf-underlined-link;
  }
}
