:root {
  color-scheme: light dark;

  /* Fonts */
  --lf-font-serif: Merriweather, "Fallback for Merriweather", serif;
  --lf-font-sansserif: Calibri, Gill Sans, Helvetica, sans-serif;
  --lf-font-monospace: Iosevka, "Fallback for Iosevka", monospace;
  --lf-font-size: 112.5%;
  --lf-font-size-small: 100%;
  --lf-font-size-sidenoteref: 0.8em;
  --lf-line-height: 1.5;

  /* Colors */
  --lf-color-foreground: light-dark(#000000, #d9dadc);
  --lf-color-foreground-inverted: light-dark(#ffffff, #262523);
  --lf-color-footer: light-dark(#222222, #121212);
  --lf-color-theme: light-dark(#21519c, #00a3ff);
  --lf-color-accent: light-dark(#b80f28, #ff677e);
  --lf-color-low: light-dark(#404040, #b0b0b0);
  --lf-color-background: light-dark(#fff9f0, #1d1f21);
  --lf-color-code-background: light-dark(#fff3e1, #2b2e31);
  --lf-color-kbd-background: light-dark(#ffefd7, #303337);
  --lf-color-kbd-border: light-dark(#ffe5bd, #35383c);
  --lf-color-link-notvisited: var(--lf-color-theme);
  --lf-color-link-notvisited-active: light-dark(#4a82d9, #88b6ff);
  --lf-color-link-visited: light-dark(#4f1872, #c876ff);
  --lf-color-link-visited-active: light-dark(#892ac6, #f3acff);
  --lf-color-table-header: var(--lf-color-theme);
  --lf-color-table-header-alt: light-dark(#255cb1, #004166);
  --lf-color-table-row: light-dark(#fffcf8, #35383c);
  --lf-color-table-row-alt: light-dark(#eaf1fb, #222426);
  --lf-color-rule: light-dark(#222, #ddd);

  /* Dimensions */
  --lf-page-width: 45rem;
  --lf-left-margin: 9rem;
  --lf-admonition-margin: calc(var(--lf-left-margin) - 1.2rem);
  --lf-minimal-margin: 1.6rem;
  --lf-sidenote-width: 22rem;
  --lf-sidenote-margin: 4rem;
  --lf-menu-height: 2rem;
}
