/* File listing */

main .lf-listing {
    margin: (@line-height*1em) 0 (@line-height*2em);
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    /* Icons */
    img.lf-filetype {
        margin: 0;
        padding-right: 0.5em;
        vertical-align: text-top;
    }

    li {
        box-sizing: border-box;
        width: 50%;
        padding: 4px 1%;
        &:nth-child(4n), &:nth-child(4n+1) {
            background-color: lighten(@theme-color, 55%);
        }

        @media @small {
            width: 100%;
            &:nth-child(4n) {
                background-color: transparent;
            }
            &:nth-child(odd) {
                background-color: lighten(@theme-color, 55%);
            }
        }
    }
}
