/* The site emblem as a red wax seal */
@supports (mix-blend-mode: soft-light) {
  @media (--lf-small) {
    #lf-navbar {
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 100%;
        width: 2.2rem;
        height: 2.2rem;
        inset-inline-start: 0.75rem;
        transform: translateY(-70%);
      }

      ul {
        /* Menu should be pushed a bit to the right. */
        padding-left: 3rem;
      }

      &::before {
        border-radius: 50%;
        background: #a31f1a;
      }

      &::after {
        border-radius: 50%;
        border: 0.16rem solid #808080;
        background: url("../images/favicon.svg") center / 75% no-repeat;
        mix-blend-mode: soft-light;
        filter: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter%20id='engrave'%20color-interpolation-filters='sRGB'%3E%3CfeColorMatrix%20type='saturate'%20values='0'/%3E%3CfeConvolveMatrix%20order='3'%20preserveAlpha='true'%20divisor='1.4'%20bias='0.5'%20kernelMatrix='-2%20-1%200%20-1%200%201%200%201%202'/%3E%3C/filter%3E%3C/svg%3E#engrave");
      }
    }
  }
}
