#lf-bottomlinks {
    margin-top: 2em;
    li {
        list-style-type: none;
    }
    .lf-sym {
        float: left;
        text-align: center;
        width: 1.5em;
        & ~ * {
            display: block;
            overflow: auto;
        }
    }
}
