/* Print, hide most stuff */
@media print {
    footer, nav, #lf-links, #lf-share, #lf-bottomlinks, #disqus_thread {
        display: none !important;
    }
    main {
        text-rendering: optimizeLegibility; /* For Webkit, slower but better */
        abbr {
            text-decoration: none;
        }
    }
    body when not (@foreground-color = black) {
        color: black;
    }
}
