---
combine:
  files:
    - common.css
    - luffy.*.css
  remove: yes
  where: bottom
---

/* The targeted baseline is 2017. Anything more recent should only be used as a
   progressive enhancement. */
