.lf-main {
  .lf-text sup {
    .sidenote-ref {
      user-select: none;
      &:lang(fr)::before {
        content: " ";
      }
      &::after {
        content: "↓";
        vertical-align: top;
      }
    }
  }

  .sidenote-ref,
  .sidenote-mark {
    font-variant-numeric: lining-nums;
  }
  .lf-sidenote {
    pre,
    p,
    ul,
    ol {
      @apply --lf-font-scale(-1);
    }
    p {
      margin-top: 1rlh;
    }
    position: relative;
    &:target::after {
      content: "";
      position: absolute;
      z-index: -2;
      inset: -5px;
      border-radius: 5px;
      animation: lf-sidenote-target-fade 5s ease-out;
    }

    /* Inline display (default / narrow viewports) */
    box-sizing: border-box;
    position: relative;
    margin: 1rlh 0 0;
    & + .lf-sidenote {
      margin-top: 0;
    }
    color: var(--lf-color-low);
    .lf-refmark {
      position: absolute;
      right: 100%;
      top: 0;
      margin-right: 0.3rem;
      font-size: var(--lf-font-size-sidenoteref);
      & + p {
        margin-top: 0 !important;
      }
    }
    .sidenote-end {
      line-height: 1;
    }
  }
}

/* Anchor-positioned sidenotes for wide viewports. See
   https://meyerweb.com/eric/thoughts/2023/09/12/nuclear-anchored-sidenotes/.
   WebKit is excluded until 26.5 because its implementation is buggy. See
   https://bugs.webkit.org/show_bug.cgi?id=315704 */
@supports (anchor-name: --a) and
  ((not (-webkit-line-box-contain: block)) or selector(select:open)) {
  @media (--lf-wide) {
    .lf-main {
      position: relative;
      .lf-sidenote {
        .sidenote-end {
          display: none;
        }
        position: absolute;
        anchor-name: --sidenote;
        top: max(anchor(top), calc(anchor(--sidenote bottom, -1rlh) + 1rlh));
        left: 100%;
        width: var(--lf-sidenote-width);
        margin: 0;
        margin-inline: var(--lf-minimal-margin);
        color: var(--lf-color-foreground);
        .lf-refmark {
          width: calc(var(--lf-minimal-margin) - 0.3rem);
          text-align: right;
        }
      }
      .lf-text a.sidenote-ref {
        &::after {
          content: "→";
          vertical-align: middle;
        }
      }
    }
  }
}

@keyframes lf-sidenote-target-fade {
  from {
    background-color: var(--lf-color-code-background-highlight);
  }
  to {
    background-color: transparent;
  }
}
