/* Skip to content link */
.lf-skip {
  position: absolute;
  left: -9999px;
  top: 0;
  z-index: 10000;
  padding: 0.5em 1em;
  background: var(--lf-color-accent);
  color: var(--lf-color-foreground-inverted);
  font-family: var(--lf-font-sansserif);
  text-decoration: none;
  &:focus {
    left: 0;
  }
}
