article {
  sup {
    /* Increase surface size, notably for touch devices */
    &[id^="fnref-"] {
      white-space: nowrap;
      margin-left: 0.1em;
    }
    .endnote-ref {
      user-select: none;
      &:lang(fr)::before {
        content: " ";
      }
      &::after {
        content: "";
        position: absolute;
        top: -0.2em;
        bottom: -0.7em;
        left: -0.3em;
        right: -0.3em;
        @media (pointer: coarse) {
          top: -0.3em;
          bottom: -1.2em;
          left: -0.9em;
          right: -0.9em;
        }
      }
    }
  }

  .endnote,
  .lf-sidenote {
    pre {
      font-size: 0.875em;
    }
    p,
    ul,
    ol,
    & > .endnote-backref {
      --lf-font-factor: 0.875;
      @apply --lf-font-size;
    }
    p {
      margin-top: calc(var(--lf-line-height) / 0.875 * 1em);
    }
  }

  .lf-sidenote {
    box-sizing: border-box;
    display: none;
    position: relative;
    float: right;
    clear: right;
    margin-right: calc(-1 * var(--lf-sidenote-width));
    width: var(--lf-sidenote-width);
    padding: calc(var(--lf-line-height) * 1rem);
    padding-left: var(--lf-sidenote-margin);
    .lf-refmark {
      position: absolute;
      left: 0;
      top: calc(var(--lf-line-height) * 1rem - var(--lf-font-size-endnoteref));
      font-size: var(--lf-font-size-endnoteref);
      width: calc(var(--lf-sidenote-margin) - 0.3rem);
      text-align: right;
      & + p {
        margin-top: 0 !important;
      }
    }
  }
}

/* Footnotes require a minimal width */
@media (--lf-larger) {
  .lf-main {
    .lf-sidenote {
      display: block;
    }
    .endnote {
      display: none;
    }
    #lf-text a.endnote-ref {
      @apply --lf-disabled-link;
      &::after {
        content: "→";
        position: initial;
        vertical-align: middle;
      }
    }
  }
}
