Babel==2.2.0
Jinja2==2.9.5
Markdown==2.6.8
MarkupSafe==0.23
Pillow==3.2.0
PyYAML==3.12
Pygments==2.2.0
argparse==1.2.1
commando==1.0.0
cssprefixer==1.4.1
cssutils==1.0
fswrap==1.0.0
python-dateutil==1.5
python-magic==0.4.3
pytz==2016.3
smartypants==1.8.6
typogrify==2.0.7
wsgiref==0.1.2
-e git+git@github.com:vincentbernat/hyde.git@vbe/master#egg=hyde
-e git+git@github.com:vincentbernat/pygments-ios.git@master#egg=pygments-ios
-e git+git@github.com:vincentbernat/pygments-junos.git@master#egg=pygments-junos
