Jinja2==2.6
Markdown==2.1.1
MarkupSafe==0.15
PIL==1.1.7
PyYAML==3.10
Pygments==1.5
argparse==1.2.1
commando==0.1.2a
distribute==0.6.34
glue==0.1.8
python-dateutil==2.0
python-magic==0.4.3
smartypants==1.6.0.3
-e git://github.com/hyde/typogrify.git@6937a8a6e60b305abe23a1be70a3c496e4d5b8ac#egg=typogrify-dev
wsgiref==0.1.2
