{# -*- web -*- #}
<nav id="lf-also">
{# Translations #}
{% if resource.translations %}
  <div>
    <p>{{ resource.meta.l10n.translations|e }}</p>
    <ul>
{% for translation in resource.translations %}
      <li lang="{{ translation.meta.language }}"><a href="{{ content_url(translation.url) }}">
          {{ languages[translation.meta.language] }}
      </a></li>
{% endfor %}
    </ul>
  </div>
{% endif %}
{# Tags #}
{% from "macros.j2" import format_tag, tagfmt_link with context %}
{% if resource.tags and resource.tags[0]|string() != 'unclassified' %}
  <div>
    <p>{{ resource.meta.l10n.tags }}</p>
    <ul>
{% for tag in resource.tags %}
      <li>{{ format_tag(resource, tag, tagfmt_link) }}</li>
{% endfor %}
    </ul>
  </div>
{% endif %}
{# Attachments #}
{% if resource.meta.attachments %}
  <div>
    <p>{% if resource.meta.attachments|length > 1 %}{{ resource.meta.l10n.attachments|e }}{% else %}{{ resource.meta.l10n.attachment|e }}{% endif %}</p>
    <ul>
{% for file, description in resource.meta.attachments %}
{% if file.startswith('http://') or file.startswith('https://') %}
      <li><a href="{{ file }}">{{ description|e }}</a></li>
{% else %}
      <li><a href="{{ media_url('files/' + file) }}">{{ description|e }}</a></li>
{% endif %}
{% endfor %}
    </ul>
  </div>
{% endif %}
</nav>
