{# -*- web -*- #}
<div id="lf-also" role="complementary" data-pagefind-ignore>
{# Reading time #}
{% if resource.meta.listable %}
{% set rt = formatted_article|reading_time %}
  <div>
    <p title="{{ resource.meta.l10n.words.format(rt.words) }}">{{ resource.meta.l10n.reading_time[1 if rt > 1 else 0].format(rt) }}</p>
  </div>
{% endif %}
{# Translations #}
{% if resource.translations %}
  <div>
    <p>{{ resource.meta.l10n.translations|e }}</p>
    <ul>
{% for translation in resource.translations %}
      <li><a lang="{{ translation.meta.language }}" hreflang="{{ translation.meta.language }}" href="{{ content_url(translation.url) }}">
          {{ languages[translation.meta.language] }}
      </a></li>
{% endfor %}
    </ul>
  </div>
{% endif %}
{# Tags #}
{% from "macros.j2" import format_tag, tagfmt_link with context %}
{% if resource.tags and resource.tags[0]|string() != 'unclassified' %}
  <div>
    <p>{{ resource.meta.l10n.tags }}</p>
    <ul>
{% for tag in resource.tags %}
      <li>{{ format_tag(resource, tag, tagfmt_link) }}</li>
{% endfor %}
    </ul>
  </div>
{% endif %}
{# Attachments #}
{% if resource.meta.attachments %}
  <div>
    <p>{% if resource.meta.attachments|length > 1 %}{{ resource.meta.l10n.attachments|e }}{% else %}{{ resource.meta.l10n.attachment|e }}{% endif %}</p>
    <ul>
{% for file, description in resource.meta.attachments %}
{% if file.startswith('http://') or file.startswith('https://') %}
      <li><a href="{{ file }}">{{ description|e }}</a></li>
{% else %}
      <li><a href="{{ media_url('files/' + file) }}">{{ description|e }}</a></li>
{% endif %}
{% endfor %}
    </ul>
  </div>
{% endif %}
</div>
