<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>
        {% block title %}{{ resource.meta.title }} | {{ resource.meta.author }}{% endblock %}
    </title>
    <link href="{{ content_url(resource.url) }}" rel="self" />
    <link href="{{ content_url(resource.meta.language) }}"/>
    <updated>{{ time_now|xmldatetime }}</updated>
    <id>{{ content_url(resource.url) }}/</id>

    {% for res in resource.node|attr("walk_resources_sorted_by_time_" + resource.meta.language)() %}
    {% if loop.index0 < 10 %}
        <entry>
            <title type="html">{{ res.meta.title }}</title>
            <author><name>{{ res.meta.author }}</name></author>
            <link href="{{ content_url(res.url) }}"/>
            <updated>{{ res.meta.created|xmldatetime }}</updated>
            <published>{{ res.meta.created|xmldatetime }}</published>
            <id>{{ content_url(res.url) }}</id>

            <content type="html">
                {% refer to res.url as file -%}
                {% filter forceescape -%}
                {{ file.article|markdown|typogrify }}
                {%- endfilter %}
            </content>
        </entry>
    {% endif %}
    {% endfor %}
</feed>
