{# -*- html -*- #}
<!doctype html>
<!--[if IE 7 ]>    <html lang="{{ resource.meta.language }}" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="{{ resource.meta.language }}" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="{{ resource.meta.language }}" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0" />

  <title>{{ resource.meta.title }} | Vincent Bernat</title>
  <meta name="keywords" content="{{ resource.meta.keywords }}" />
  <meta name="author" content="{{ resource.meta.author }}" />

  <link rel="shortcut icon" href="{{ media_url('favicon.ico') }}" />
  <link rel="alternate" href="{{ content_url( resource.meta.language + '/blog/atom.xml') }}" type="application/atom+xml" title="ATOM feed" />
  <link rel="stylesheet" href="{{ media_url('css/luffy.css') }}" type="text/css" />

  <script src="{{ media_url('js/libs/modernizr-1.7.min.js') }}"></script>
</head>
<body {% if resource.meta.class is defined %}class="lf-{{ resource.meta.class }}"{% endif %}>

  {# Navigation bar #}
  <nav id="lf-navbar">
    <div id="lf-homeicon">
      <a href="{{ content_url( resource.meta.language ) }}/"></a>
    </div>
    <div id="lf-menubar">
      <form id="lf-search" action="//www.google.com/search">
	<span id="lf-search-glass"><i></i></span>
	<input type="hidden" name="hl" value="{{ resource.meta.language }}">
	<input type="hidden" name="q"  value="site:www.luffy.cx/*">
	<input id="lf-search-query" type="text" name="q"
	       placeholder="{{resource.meta.l10n.search}}" value="">
      </form>
      {% include "menu.j2" %}
    </div>
  </nav>
  
  {# Pages #}
  <div id="lf-pages">
    <div id="lf-page-1"></div>
    <div id="lf-page-2"></div>
    <div id="lf-page">
      <article>
	<header>
	  <h1>{{resource.meta.title}}</h1>
	  {% if resource.meta.author != None %}<h2>{{resource.meta.author}}</h2>{% endif %}
{% from "macros.j2" import resource_date with context %}
{{ resource_date(resource) }}
	</header>
{% filter markdown|typogrify -%}
{% mark article -%}{% block article -%}{%- endblock %}{%- endmark %}
{%- endfilter %}
{% include "comments.j2" %}
      </article>
    </div>
  </div>

{% include "sidebar.j2" %}
  
  {# Footer #}
  <footer>
    <address>
      © 2011 <a href="mailto:bernat@luffy.cx">Vincent Bernat</a>
      <a href="{{ content_url(resource.meta.language + '/blog/atom.xml') }}">
	<img alt="RSS" src="{{ media_url('images/l/feedicon16px.png')}}">
      </a>
    </address>
    <h3>{{ resource.meta.l10n.otherlinks }}</h3>
    <ul>
      <li><a href="https://github.com/vincentbernat">GitHub</a></li>
      <li><a href="http://www.linkedin.com/in/vincentbernat">LinkedIn</a></li>
      <li><a href="http://qa.debian.org/developer.php?login=bernat">Debian</a></li>
      <li><a href="http://delicious.com/vbernat/">Delicious</a></li>
      <li><a href="http://twitter.com/vince2_">@vince2_</a></li>
    </ul>
    <h3>Sources</h3>
    <ul>
      <li>Powered by <a href="http://ringce.com/hyde">Hyde</a></li>
      <li><a href="https://github.com/vincentbernat/www.luffy.cx">Site</a></li>
      <li>
	<a href="https://github.com/vincentbernat/www.luffy.cx/tree/master/content/{{ resource.relative_path }}">Page</a>
      </li>
    </ul>
  </footer>

  {# Load remaining scripts #}
  <script>
    yepnope([{
       load: '//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js',
       complete: function () {
           if (!window.jQuery) {
	       yepnope('{{ media_url("js/libs/jquery-1.5.2.min.js") }}');
	   }
       }
     },{
       load: '{{ media_url("js/luffy.js") }}',
     }]);
  </script>

  {% include "analytics.j2" %}
</body>
</html>
