{# -*- web -*- #}
{%- set formatted_article -%}
{%- filter markdown|typogrify -%}
{% block article -%}{%- endblock %}
{%- endfilter -%}
{%- endset -%}
<!doctype html>
<html lang="{{ resource.meta.language }}" class="nojs">
<head>
  <meta charset="utf-8">
{% for font in "merriweather merriweather-italic iosevka-custom-regular".split() %}
  <link rel="preload" href="{{ media_url('fonts/{}.woff2'.format(font)) }}" as="font" type="font/woff2">
{% endfor %}
  <link rel="stylesheet" href="{{ media_url('css/luffy-light.css') }}" media="not screen and (prefers-color-scheme: dark)">
  <link rel="stylesheet" href="{{ media_url('css/luffy-dark.css') }}" media="screen and (prefers-color-scheme: dark)">
{% for css in resource.meta.css %}
  <link rel="stylesheet" href="{{ media_url('css/' + css) }}">
{% endfor %}
  <title>{{ resource.meta.title|e }}</title>
{% if resource.meta.author %}
  <meta name="author" content="{{ resource.meta.author|e }}">
{% endif %}
  <meta name="viewport" content="width=device-width,initial-scale=1">
{% if resource.meta.noindex %}
  <meta name="robots" content="noindex,follow">
{% endif %}
  <meta property="og:type" content="article">
  <meta property="og:locale" content="{{ resource.meta.locale }}">
  <meta property="og:title" content="{{ resource.meta.title|e }}">
  <meta property="og:description" name="description" content="
{%- filter replace('\n', ' ')|truncate(150)|trim()|e %}
{%- if resource.meta.description %}{{ resource.meta.description }}
{%- else %}{{ formatted_article|truncate(1000)|striptags }}
{%- endif %}
{%- endfilter %}">
{% if resource.meta.cover %}
  <meta property="og:image" content="{{ media_url('images/' + resource.meta.cover) }}">
{% endif %}
{% if resource.meta.created != None %}
  <meta property="article:published_time" content="{{ resource.meta.created|xmldatetime }}">
{% endif %}
  <meta name="color-scheme" content="light dark">
  <link rel="icon" href="{{ media_url('images/favicon.png') }}">
  <link rel="canonical" href="{{base}}{{ content_url(resource.url) }}">
{% if resource.translations %}
{% for translation in resource.translations %}
  <link rel="alternate" hreflang="{{ translation.meta.language }}" href="{{ content_url(translation.url) }}">
{% endfor %}
{% endif %}
  <link rel="alternate" href="{{ content_url( resource.meta.language + '/blog/atom.xml') }}" type="application/atom+xml" title="ATOM feed">
</head>
<body>
  <main class="lf-main">
    <article>
{% block header %}
      <header>
        <h1>{{resource.meta.title.split("|")[0]|typogrify|replace(' ',' ')}}</h1>
        <div id="lf-sideblock">
{% from "macros.j2" import resource_date with context %}
          <h2>
            {{resource.meta.author|default("", true)|e}}
            {{ resource_date(resource.meta.language, resource) | indent(18) }}
          </h2>
          {% filter indent(10) %}{% include "also.j2" %}{% endfilter %}

        </div>
      </header>
{% endblock %}
      <div id="lf-text">

{% mark article %}{{ formatted_article }}{% endmark %}

      </div>
    </article>
  </main>

{# Navigation bar #}
  <nav id="lf-navbar">
    <div id="lf-menubar">
      <form id="lf-search" action="https://duckduckgo.com/" role="search">
        <input type="hidden" name="kf" value="-1">
        <input type="hidden" name="kaf" value="1">
        <input type="hidden" name="k1" value="-1">
        <input type="hidden" name="sites" value="{{ base|replace("https://","") }}/{{ resource.meta.language }}/">
        <input type="submit" value="👀" aria-hidden="true">
        <input id="lf-search-query" type="text" name="q" value="" autocomplete="off" aria-label="{{ resource.meta.l10n.search|e }}">
      </form>
      {% filter indent(6) %}{% include "menu.j2" %}{% endfilter %}
    </div>
  </nav>

{# Footer #}
  <footer>
{% if resource.meta.l10n.otherlinks %}
    <div>
      <h3>{{ resource.meta.l10n.otherlinks|e }}</h3>
      <ul>
        <li><a href="https://github.com/{{ resource.meta.github }}">GitHub</a></li>
        <li><a href="https://twitter.com/{{ resource.meta.twitter }}">Twitter</a></li>
      </ul>
    </div>
{% endif %}
{% if resource.meta.l10n.sources %}
    <div>
      <h3>{{ resource.meta.l10n.sources|e }}</h3>
      <ul>
        <li><a rel="nofollow" href="{{ resource.meta.sources }}">{{ resource.meta.l10n.site|e }}</a></li>
        <li><a rel="nofollow" href="{{ resource.meta.sources }}/blob/latest/content/{{ resource.relative_path }}">{{ resource.meta.l10n.page|e }}</a></li>
        <li><a rel="nofollow" href="{{ resource.meta.sources }}/commits/latest/content/{{ resource.relative_path }}">{{ resource.meta.l10n.history|e }}</a></li>
        <li><a rel="nofollow" href="{{ resource.meta.sources }}/edit/latest/content/{{ resource.relative_path }}">{{ resource.meta.l10n.edit|e }}</a></li>
      </ul>
    </div>
{% endif %}
    <address>
      <a href="{{ content_url('en/licenses.html') }}" title="Licenses">© {% if resource.meta.created != None %}{% if resource.meta.created|date_format("%Y") != resource.meta.modified|date_format("%Y") %}{{ resource.meta.created|date_format("%Y") }}{{ resource.meta.l10n.range }}{% endif %}{{ resource.meta.modified|date_format("%Y") }}{% else %}{{ None|date_format("%Y") }}{% endif %}</a> <a href="mailto:vincent@bernat.ch">Vincent Bernat</a>
    </address>
  </footer>

  <div class="lf-main">
    {% filter indent(4) %}{% include "links.j2" %}{% endfilter %}
{% if resource.meta.comments %}
    <div id="isso-thread" class="when-js" aria-live="polite"
         data-title="{{ resource.meta.title|e }}"
         data-isso-id="/{{ resource.relative_path[:-5] }}"></div>
    </div>
{% endif %}
  </div>

{# Load remaining scripts #}
{% if '<x-latex>' in formatted_article %}
  <link rel="stylesheet" href="{{ media_url('css/katex.css') }}">
{% endif %}
{% if '.m3u8"' in formatted_article %}
  <script data-src="{{ media_url('js/luffy1.videos.js') }}" data-name="luffy1.videos.js"></script>
  <script data-src="{{ media_url('js/hls.js') }}" data-name="hls.js"></script>
{% endif %}
{% if 'class="lf-gallery"' in formatted_article %}
  <script data-src="{{ media_url('js/gallery.js') }}" data-name="gallery.js"></script>
  <link rel="stylesheet" data-href="{{ media_url('css/gallery.css') }}" href="data:text/css;base64," data-name="gallery.css">
{% endif %}
{% if resource.meta.comments %}
  <script data-src="{{ media_url('js/isso.js') }}" data-name="isso.js"
          data-isso="https://comments.luffy.cx/"
          data-isso-lang="{{ resource.meta.language }}"></script>
{% endif %}
  <script src="{{ media_url('js/luffy.js') }}" type="module" async></script>
{% for js in resource.meta.js %}
  <script src="{{ media_url('js/' + js) }}" type="module" async></script>
{% endfor %}
</body>
</html>
