{# -*- web -*- #}
<!doctype html>
<html class="no-js" lang="{{ resource.meta.language }}">
<head>
  <meta charset="utf-8">
  <title>{{ resource.meta.title|e }} | {{ resource.meta.author|e }}</title>
  <meta name="keywords" content="{{ resource.meta.keywords|e }}">
  <meta name="author" content="{{ resource.meta.author|e }}">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="apple-touch-icon-precomposed" href="{{ media_url('images/l/apple-touch-icon.png') }}">
  <link rel="canonical" href="{{base}}{{ content_url(resource.url) }}">
  <link rel="alternate" href="{{ content_url( resource.meta.language + '/blog/atom.xml') }}" type="application/atom+xml" title="ATOM feed">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Inconsolata|Source+Sans+Pro:700|Merriweather:400,400italic" type="text/css">
  <link rel="stylesheet" href="{{ media_url('css/luffy.css') }}" type="text/css">
{% if site.config.mode == "development" %}
  <link rel="stylesheet" href="{{ media_url('css/grid.css') }}" type="text/css">
{% endif %}
  <script src="{{ media_url('js/modernizr.js') }}"></script>
</head>
{% if resource.meta.class is defined %}
<body class="lf-{{ resource.meta.class }}">
{% else %}
<body>
{% endif %}

  {# Navigation bar #}
  <nav id="lf-navbar">
    <div id="lf-homeicon">
      <a class="lf-sprite-strawhat" rel="author"
	 href="{{ content_url( resource.meta.language ) }}/"></a>
    </div>
    <div id="lf-menubar">
      <form id="lf-search" action="//www.google.com/search">
	<i id="lf-search-glass"><input type="submit" class="lf-sprite-search" value=""></i>
	<input type="hidden" name="hl" value="{{ resource.meta.language }}">
	<input type="hidden" name="q"  value="site:vincent.bernat.im/{{ resource.meta.language }}/*">
	<input id="lf-search-query" type="text" name="q" value="">
      </form>
      {% include "menu.j2" %}
    </div>
  </nav>
  <div id="lf-search-results">
    <div id="lf-search-results-results"></div>
    <span id="lf-search-results-close"
	  class="lf-sprite-slimbox-close"></span>
  </div>

  {# Pages #}
  <div id="lf-pages">
    <div id="lf-page-1"></div>
    <div id="lf-page-2"></div>
    <div id="lf-page">
      <article>
	{% block header %}
	<header>
	  <h1>{{resource.meta.title|typogrify|e}}</h1>
          <div id="lf-sideblock">
	  {% if resource.meta.author != None %}
	  <h2>{{resource.meta.author|e}}</h2>
	  {% endif %}
	  {% from "macros.j2" import resource_date with context %}
	  {{ resource_date(resource) }}
          {% include "sidebar.j2" %}
          </div>
	</header>
	{% endblock %}
	{% block main %}
	<div id="lf-main" role="main">
	  {% filter markdown|typogrify -%}
	  {% mark article -%}{% block article -%}{%- endblock %}{%- endmark %}
	  {%- endfilter %}
	</div>
	{% endblock %}
      </article>
      {% include "comments.j2" %}
    </div>
  </div>

  {# Footer #}
  <footer>
    <div>
      <h3>{{ resource.meta.l10n.otherlinks|e }}</h3>
      <ul>
	<li><a href="https://github.com/vincentbernat">GitHub</a></li>
	<li><a href="http://www.linkedin.com/in/vincentbernat">LinkedIn</a></li>
	<li><a href="http://qa.debian.org/developer.php?login=bernat">Debian</a></li>
	<li><a href="http://delicious.com/vbernat/">Delicious</a></li>
	<li><a href="http://twitter.com/vince2_">@vince2_</a></li>
      </ul>
    </div>
 
    <div>
      <h3>Sources</h3>
      <ul>
	<li>Powered by <a href="http://ringce.com/hyde">Hyde</a></li>
	<li><a href="https://github.com/vincentbernat/www.luffy.cx">Site</a></li>
	<li>
	  <a href="https://github.com/vincentbernat/www.luffy.cx/tree/master/content/{{ resource.relative_path }}">Page</a>
	</li>
      </ul>
    </div>
    <address class="vcard author">
      © 2014 <a class="fn email" href="mailto:vincent@bernat.im">Vincent Bernat</a>
      <a class="lf-sprite-rss"
	 href="{{ content_url(resource.meta.language + '/blog/atom.xml') }}">
	&nbsp;
      </a>
    </address>
  </footer>

  {# Load remaining scripts #}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="{{ media_url('js/luffy.js') }}" async></script>
{% if site.config.mode == "development" %}
  <script src="{{ media_url('js/hashgrid.js') }}" async></script>
{% endif %}
  {% include "analytics.j2" %}
</body>
</html>
