{# -*- web -*- #}
{% if site.config.mode == "production" %}
{% if resource.meta.comments %}
<div id="disqus_thread">
  <div id="lf-disqus">{{ resource.meta.l10n.comments|e }}</div>
</div>
<script type="text/javascript">
    var disqus_shortname = '{{ resource.meta.disqus }}';
    var disqus_identifier = '{{ content_url(resource.url) }}';
    var disqus_url = '{{base}}{{ content_url(resource.url) }}';
    var disqus_title = '{{ resource.meta.title|e }}';
    var disqus_config = function () {
       this.language = "{{ resource.meta.language }}";
    }; 
{% if not site.config.mode == "production" %}
    var disqus_developer = 1;
{% endif %}
</script>
{% endif %}
{% endif %}
