{# -*- html -*- #}
{% if resource.meta.comments %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = '{{ resource.meta.disqus }}';
    var disqus_identifier = '{{ content_url(resource.url) }}';
    var disqus_url = '{{base}}{{ content_url(res.url) }}';
{% if not site.config.mode == "production" %}
    var disqus_developer = 1;
{% endif %}
</script>
{% endif %}
