{# -*- html -*- #}
{% extends "base.j2" %}

{% block header %}
<header class="vcard">
  <h1 class="author fn">Vincent Bernat</h1>
  <abbr class="tel lf-cv-phone" title="+33618392754">+33 6 18 39 27 54</abbr>
  <a class="email" href="mailto:vincent@bernat.im">vincent@bernat.im</a><br/>
  <a class="url" href="http://vincent.bernat.im">vincent.bernat.im</a>
  <div class="adr">
    <span class="street-address">39 quai de l'Ourcq</span><br />
    <span class="postal-code">93500</span>
    <span class="locality">Pantin</span><br />
    <span class="country-name">France</span>
  </div>
  <img src="{{ media_url('images/vcard.png')}}" />
</header>
{% endblock %}

{% macro cvblock(label, place=None, position=None) %}
<div class="lf-cv-block">
    <div class="lf-cv-label">{{ label|e }}</div>
    <div class="lf-cv-content">
      {% if place %}<h3>{{ place|e }}</h3>{% endif %}
      {% if position %}<div class="lf-cv-position">{{ position|e }}</div>{% endif %}
      <div class="lf-cv-description">
{{ caller()|markdown|typogrify }}
      </div>
    </div>
</div>
{% endmacro %}
