{# -*- web -*- #}
{% set previous = resource|attr("next_by_time_" + resource.meta.language) %}
{% set next = resource|attr("prev_by_time_" + resource.meta.language) %}
{% if previous or next or resource.meta.comments %}
<ul id="lf-bottomlinks">
{% if resource.meta.comments %}
    <li>
        <span class="lf-sym">💬</span>
        <span class="when-nojs">{{ resource.meta.l10n.comments_nojs }}</span>
        <span class="when-js">{{ resource.meta.l10n.comments }}</span>
    </li>
{% endif %}
{% if previous %}
    <li><span class="lf-sym">«</span>
        <a rel="prev" href="{{ content_url(previous.url) }}">{{ previous.meta.title|amp|e }}</a></li>
{% endif %}
{% if next %}
    <li><span class="lf-sym">»</span>
        <a rel="next" href="{{ content_url(next.url) }}">{{ next.meta.title|amp|e }}</a></li>
{% endif %}
    <li><span class="lf-sym">📬</span>
        <a href="{{ content_url( resource.meta.language + '/blog/subscribe.html') }}">{{ resource.meta.l10n.subscribe }}</a></li>
</ul>
{% endif %}
{% if resource.meta.comments %}
<div id="disqus_thread" class="when-js"
     data-disqus-shortname="{{ resource.meta.disqus }}">
</div>
{% endif %}
