{# -*- web -*- #}
{% set previous = resource|attr("next_by_time_" + resource.meta.language) %}
{% set next = resource|attr("prev_by_time_" + resource.meta.language) %}
<ul id="lf-bottomlinks" role="navigation">
{% if resource.meta.comments %}
    <li>
        <span class="lf-sym">💬</span>
        <span class="when-nojs">{{ resource.meta.l10n.comments_nojs }}</span>
        <span class="when-js">{{ resource.meta.l10n.comments }}</span>
    </li>
{% endif %}
{% if next %}
    <li><span class="lf-sym">»</span>
        <a rel="next" href="{{ content_url(next.url) }}">{{ next.meta.title|amp|e }}</a></li>
{% endif %}
{% if previous %}
    <li><span class="lf-sym">«</span>
        <a rel="prev" href="{{ content_url(previous.url) }}">{{ previous.meta.title|amp|e }}</a></li>
{% endif %}
{% set related = resource|same_tag("prev_by_time_" + resource.meta.language, 1) %}
{% if related %}
    <li><span class="lf-sym">💡</span>
        <a href="{{ content_url(related.url) }}">{{ related.meta.title|amp|e }}</a></li>
{% endif %}
{% set related = resource|same_tag("next_by_time_" + resource.meta.language, 1) %}
{% if related %}
    <li><span class="lf-sym">💡</span>
        <a href="{{ content_url(related.url) }}">{{ related.meta.title|amp|e }}</a></li>
{% endif %}
{% if next or previous and ('/blog/' in resource.url) %}
    <li><span class="lf-sym">📨</span>
        <a href="{{ content_url( resource.meta.language + '/blog/subscribe.html') }}">{{ resource.meta.l10n.subscribe }}</a></li>
{% endif %}
</ul>
{% if resource.meta.comments %}
<div id="isso-thread" class="when-js"
     data-title="{{ resource.meta.title|e }}"
     data-isso-id="/{{ resource.relative_path[:-5] }}"></div>
{% endif %}
