{# List blog posts pertaining to a given language #}

{% macro list_posts(lang) %}
<ul class="hfeed">
{% set sort = site.content|attr("walk_resources_sorted_by_time_" + lang) %}
{% for resource in sort() -%}
  <li class="hentry" style="clear: both">
<a class="entry-title" href="{{ content_url(resource.url) }}">
{{ resource.meta.title|e }}
</a>
<span style="float: right">{{ resource_date(resource) }}</span>
  </li>
{% endfor %}
</ul>
{% endmacro %}

{% macro resource_date(resource) %}
{% if resource.meta.created != None %}
<time class="timeago"
      datetime="{{ resource.meta.created|xmldatetime }}"
      pubdate>
  <abbr class="published updated" title="{{ resource.meta.created|xmldatetime }}">{{ resource.meta.created.strftime('%B %d, %Y') }}</abbr>
</time>
{% endif %}
{% endmacro %}

{% macro gallery(directory,description) %}
<div class="lf-gallery">
{% for image in site.content.walk_resources_sorted_by_name()
   if image.source_file.kind in ("jpg","png") and
   (image.name.startswith(directory) or image.source_file.parent.name == directory) %}
{% set thumb = image.thumb(height=150) %}
<a href="{{ media_url(image.get_relative_deploy_path()[6:]) }}"><img src="{{ media_url(('%s' % thumb)[6:]) }}" height="{{ thumb.height }}" width="{{ thumb.width }}" alt="{{ description|e }}"></a>
{% endfor %}
</div>
{% endmacro %}
