{# List blog posts pertaining to a given language #}

{% macro list_posts(lang) %}
<ul>
{% set sort = site.content|attr("walk_resources_sorted_by_time_" + lang) %}
{% for resource in sort() -%}
  <li>
<a href="{{ content_url(resource.url) }}">{{ resource.meta.title|e }}</a>
<span style="float: right">{{ resource_date(resource) }}</span>
  </li>
{% endfor %}
</ul>
{% endmacro %}

{% macro resource_date(resource) %}
{% if resource.meta.created != None %}
<time class="timeago"
      datetime="{{ resource.meta.created|xmldatetime }}"
      pubdate>
  {{ resource.meta.created.strftime('%a, %d %b %Y, %H:%M') }}
</time>
{% endif %}
{% endmacro %}

{% macro gallery(directory,description) %}
<div class="lf-gallery">
{% for image in site.content.walk_resources_sorted_by_name()
   if image.source_file.kind in ("jpg","png") and
   (image.name.startswith(directory) or image.source_file.parent.name == directory) %}
{% set thumb = image.thumb(height=150) %}
<a href="{{ media_url(image.get_relative_deploy_path()[6:]) }}"><img src="{{ media_url(('%s' % thumb)[6:]) }}" height="{{ thumb.height }}" width="{{ thumb.width }}" alt="{{ description|e }}"></a>
{% endfor %}
</div>
{% endmacro %}
