{# -*- web -*- #}

{# List blog posts pertaining to a given language #}
{% macro list_posts(lang, start=0, end=None) %}
<ul class="lf-list-titles robots-noindex">
{% set sort = site.content|attr("walk_resources_sorted_by_time_" + lang)() %}
{%- for resource in sort[start:end] %}
  <li{% if resource.tags and "outdated" in resource.tags|map('string') %} class="lf-outdated"{% endif %}>
    <a href="{{ content_url(resource.url) }}" class="lf-title">{{ resource.meta.title|e }}</a>
    {{ resource_short_date(resource) | indent }}
  </li>
{% endfor %}
</ul>
{% endmacro %}

{% macro fcapitalize(text) %}
    {{ text[0]|upper}}{{text[1:] }}
{% endmacro %}

{% macro format_tag(tag) %}
{%- set tag = tag|string() %}
{%- set subtags = tag.split("-") %}
{%- for subtag in subtags -%}
    {%- set subtag = subtags[:loop.index]|join('-') -%}
    {{- fcapitalize(site.tagger.tags[subtag]|attr("descr_" + resource.meta.language)|e) }}
    {{- fcapitalize(site.tagger.tags[subtag].descr|e) -}}
    {%- if not loop.last %} > {% endif -%}
{%- endfor -%}
{% endmacro %}

{# Display all the categories #}
{% macro list_tags(lang) %}
{% set tags = [] %}
{% for tag, resources in site.tagger.tags %}
{% do tags.append((site.tagger.tags[tag].order or 0, tag)) %}
{% endfor %}
<ul class="lf-tags">
{% for tag in tags|sort if tag[1]|string() != "outdated" %}
    <li><a href="#tag-{{tag[1]}}">{{ format_tag(tag[1]|string()) }}</a></li>
{% endfor %}
</ul>
<div class="lf-list-tags">
{% for tag in tags|sort %}
{% set tag = tag[1] %}
{% set rr = [] %}
{% for resource in site.content|attr("walk_resources_sorted_by_time_" + lang)() %}
{% for rtag in resource.meta.tags
   if (rtag == tag or rtag.startswith(tag + "-") or
       (tag|string() == "unclassified" and
        rtag|string() == "outdated" and
        resource.meta.tags|length == 1)) and
      resource not in rr %}
{% do rr.append(resource) %}
{% endfor %}
{% endfor %}
{% if rr and tag|string() != "outdated" %}
  <div class="lf-tag" id="tag-{{tag}}">
    <h2>{{ format_tag(tag|string()) }}</h2>
    <ul class="lf-list-titles robots-noindex">
{% for resource in rr %}
      <li{% if resource.tags and "outdated" in resource.tags|map('string') and tag != "outdated" %} class="lf-outdated"{% endif %}>
          <a href="{{ content_url(resource.url) }}" class="lf-title">{{ resource.meta.title|e }}</a>
          {{ resource_short_date(resource) | indent(10) }}
      </li>
{% endfor %}
    </ul>
  </div>
{% endif %}
{% endfor %}
</div>

{% endmacro %}

{# Display date of the resource #}
{% macro resource_date(resource) %}
{% if resource.meta.created != None %}
<time datetime="{{ resource.meta.created|xmldatetime }}"
      class="dt-published">
    {{ resource.meta.created|human_date(resource.meta.language, 'long') }}
</time>
{%- endif %}
{% endmacro %}
{% macro resource_short_date(resource) %}
{% if resource.meta.created != None %}
<time datetime="{{ resource.meta.created|xmldatetime }}"
      title="{{ resource.meta.created|human_date(resource.meta.language, 'long') }}"
      class="dt-published">
    {{ resource.meta.created|human_date(resource.meta.language) }}
</time>
{%- endif %}
{% endmacro %}

{# Display a photo gallery; directory may be a directory or a prefix #}
{% macro gallery(directory,description) %}
<div class="lf-gallery">
{% for image in site.content.walk_resources_sorted_by_name()
   if image.source_file.kind in ("jpg","png") and
   (image.name.startswith(directory) or image.source_file.parent.name == directory) %}
{% set thumb = image.thumb(height=150) %}
<a href="{{ media_url(image.get_relative_deploy_path()[6:]) }}"><img src="{{ media_url(('%s' % thumb)[6:]) }}" height="{{ thumb.height }}" width="{{ thumb.width }}" alt="{{ description|e }}" class="lf-thumbnail"></a>
{% endfor %}
</div>
{% endmacro %}

{% macro listing(directory, nb=0) %}
<ul class="lf-listing">
{% for archive in site.content.walk_resources_sorted_by_name()
   if archive.source_file.parent.path.endswith("/media/" + directory) %}
{% if nb < 0 and loop.revindex <= -nb or nb > 0 and loop.index <= nb %}
<li>
  <img class="lf-filetype"
       src="{{ media_url("images/l/ext--" + archive.source_file.kind + ".png") }}"
       alt="{{ "[" + archive.source_file.kind + "]" }}">
  <a href="{{ media_url(archive.get_relative_deploy_path()[6:]) }}">{{ archive.name }}</a>
</li>
{% endif %}
{% endfor %}
</ul>
{% endmacro %}
