{# -*- web -*- #}
<ul>
  {% for menu in resource.meta.menu %}
  <li{% if content_url(resource.url).startswith(content_url(resource.meta.language + '/' + menu['page'])) %} class="active"{% endif %}>
    <a href="{{ content_url(resource.meta.language + '/' + menu['page']) }}">
      {{ menu['name']|e }}
    </a>
  </li>
  {% endfor %}
</ul>
