{# -*- html -*- #}
<ul>
  {% for menu in resource.meta.menu %}
  <li>
    <a href="{{ content_url(resource.meta.language + '/' + menu['page']) }}">
      {{ menu['name'] }}
    </a>
  </li>
  {% endfor %}
</ul>
