{# nginx configuration to be included #}
index         index.html;
error_page    404 {{content_url('/en/404.html')}};
add_header    "X-UA-Compatible" "IE=Edge";
add_header    "Strict-Transport-Security" "max-age=31557600; includeSubDomains";
add_header    "X-Frame-Options" "DENY";
add_header    "Content-Security-Policy" "script-src 'self' {{ media_url('js/') }} https://cdn.mathjax.org/mathjax/ https://a.disquscdn.com/ https://luffycx.disqus.com; frame-src https://www.youtube-nocookie.com https://disqus.com;";

location = /nginx.conf {
  expires     max;
  return      404;
}

{# language selection #}
{% for code, lang in languages %}
location /{{code}} {
  error_page  404 {{content_url('/' + code + '/404.html')}};
}
{% endfor %}
location = / {
{% for code, lang in languages %}
  if ($http_accept_language ~* ^{{code}}) {
    add_header Vary Accept-Language;
    add_header Strict-Transport-Security "max-age=31557600; includeSubDomains";
    rewrite ^ /{{code}}/ permanent;
  }
{% endfor %}
{# If not found in the first language, redirect to english #}
  add_header  Vary Accept-Language;
  add_header Strict-Transport-Security "max-age=31557600; includeSubDomains";
  rewrite ^   /en/ permanent;
}

{# redirections #}
location = /favicon.ico {
  expires     60d;
  rewrite ^  /media/favicon.ico break;
}

{# do not log #}
{% for res in resource.node.walk_resources() %}
{% if res.meta.nolog %}
location = {{ content_url(res.url) }} {
  access_log off;
  log_not_found off;
}
{% endif %}
{% endfor %}
