{# nginx configuration to be included #}
index         index.html;
error_page    404 {{content_url('/en/404.html')}};

location = /nginx.conf {
  expires     max;
  return      404;
}

{# language selection #}
{% for code, lang in languages %}
location /{{code}} {
  error_page  404 {{content_url('/' + code + '/404.html')}};
}
{% endfor %}
location = / {
{% for code, lang in languages %}
  if ($http_accept_language ~* ^{{code}}) {
    add_header Vary Accept-Language;
    rewrite ^ /{{code}}/ permanent;
  }
{% endfor %}
{# If not found in the first language, redirect to english #}
  add_header  Vary Accept-Language;
  rewrite ^   /en/ permanent;
}

{# expiration #}
location ~ ^{{media_url('js/libs')}}/.*\.js$ {
  expires     max;
}
location {{media_url('fonts')}} {
  expires     max;
}
location ~ ^{{media_url('favicon.ico')}}$ {
  expires     max;
}
location {{media_url('files')}} {
  expires     1d;
}
location {{media_url('')}} {
  expires     10d;
}
