{# nginx configuration to be included #}
index         index.html;
error_page    404 {{content_url('/en/404.html')}};
add_header    "X-UA-Compatible" "IE=Edge,chrome=1";

location = /nginx.conf {
  expires     max;
  return      404;
}

{# language selection #}
{% for code, lang in languages %}
location /{{code}} {
  error_page  404 {{content_url('/' + code + '/404.html')}};
}
{% endfor %}
location = / {
{% for code, lang in languages %}
  if ($http_accept_language ~* ^{{code}}) {
    add_header Vary Accept-Language;
    rewrite ^ /{{code}}/ permanent;
  }
{% endfor %}
{# If not found in the first language, redirect to english #}
  add_header  Vary Accept-Language;
  rewrite ^   /en/ permanent;
}

{# redirections #}
location = {{media_url('images/thinkpad-edge.jpg')}} {
  rewrite ^  {{media_url('images/thinkpad-edge/open.jpg')}};
}
location = {{media_url('images/thinkpad-edge-top.jpg')}} {
  rewrite ^  {{media_url('images/thinkpad-edge/elements.jpg')}};
}
location = {{media_url('images/thinkpad-edge-enclosure.jpg')}} {
  rewrite ^  {{media_url('images/thinkpad-edge/package.jpg')}};
}

{# expiration #}
location ~ ^{{media_url('js/libs')}}/.*\.js$ {
  expires     max;
}
location {{media_url('fonts')}} {
  expires     max;
  types {
    font/x-woff   woff;
    font/ttf      ttf;
    font/otf      otf;
    application/vnd.ms-fontobject eot;
    image/svg+xml svg;
  }
}
location ~ ^{{media_url('favicon.ico')}}$ {
  expires     max;
}
location {{media_url('files')}} {
  expires     1d;
}
location {{media_url('images')}} {
  expires     30d;
}
location {{media_url('')}} {
  expires     10d;
}
