{% if resource.tags and "outdated" in resource.tags|map('string') %}
{% filter markdown|typogrify %}
{% if resource.meta.language == "fr" %}
!!! "Note" Ce contenu est obsolète. Il est conservé pour des raisons
historiques mais la plupart des informations présentées ne sont
plus pertinentes.
{: .robots-noindex}
{% else %}
!!! "Note" This content is outdated. It is kept for historical purpose
but most information is not relevant any more.
{: .robots-noindex}
{% endif %}
{% endfilter %}
{% endif %}
