{# -*- html -*- #}
{% set previous = resource|attr("next_by_time_" + resource.meta.language) %}
{% set next = resource|attr("prev_by_time_" + resource.meta.language) %}
{% if previous or next %}
<nav id="lf-prevnext">
  {% if previous %}
  <div class="lf-prev">
    <a href="{{ content_url(previous.url) }}">
      <span title="{{ resource.meta.l10n.previous|e }}"
	    class="lf-sprite-slimbox-left">←</span>
      {{ previous.meta.title|typogrify|e }}
    </a>
  </div>
  {% endif %}
  {% if next %}
  <div class="lf-next">
    <a href="{{ content_url(next.url) }}">{{ next.meta.title|typogrify|e }}
      <span title="{{ resource.meta.l10n.next|e }}"
	    class="lf-sprite-slimbox-right">→</span>
    </a>
  </div>
  {% endif %}
  <div style="clear: both"></div>
</nav>
{% endif %}
