{# -*- web -*- #}
<div id="lf-share">
    <hr>
    <p>{{ resource.meta.l10n.share }}</p>
    <ul>
	{% set url = base|urlencode + content_url(resource.url)|urlencode %}
        {% set title = resource.meta.title|urlencode %}
	<li><a class="lf-sprite-twitter" href="https://twitter.com/share?url={{url}}&via=vince2_&text={{title}}%20%E2%80%94"
               title="{{ resource.meta.l10n.share_on }} Twitter">Twitter</a></li>
	<li><a class="lf-sprite-google" href="https://plus.google.com/share?url={{url}}"
               title="{{ resource.meta.l10n.share_on }} Google+">Google+</a></li>
	<li><a class="lf-sprite-facebook" href="https://www.facebook.com/sharer.php?u={{url}}&t={{title}}"
               title="{{ resource.meta.l10n.share_on }} Facebook">Facebook</a></li>
	<li><a class="lf-sprite-reddit" href="https://www.reddit.com/submit?url={{url}}&title={{title}}"
               title="{{ resource.meta.l10n.share_on }} reddit">reddit</a></li>
	<li><a class="lf-sprite-linkedin" href="https://www.linkedin.com/shareArticle?url={{url}}&mini=true&title={{title}}"
               title="{{ resource.meta.l10n.share_on }} LinkedIn">LinkedIn</a></li>
{% if resource.meta.language == "en" %}
	<li><a class="lf-sprite-hackernews" href="https://news.ycombinator.com/submitlink?u={{url}}&t={{title}}"
               title="{{ resource.meta.l10n.share_on }} Hacker News">Hacker News</a></li>
{% endif %}
	<li><a class="lf-sprite-mail" href="mailto:?subject={{title}}&body={{url}}"
               title="{{ resource.meta.l10n.share_by_mail }}">Mail</a></li>
    </ul>
</div>
