{# -*- web -*- #}
<div id="lf-share">
    <hr>
    <ul>
	{% set url = base|urlencode + content_url(resource.url)|urlencode %}
        {% set title = resource.meta.title|urlencode %}
	<li><a class="lf-sprite-twitter" href="https://twitter.com/share?url={{url}}&via=vince2_&text={{title}} —"
               title="Share on Twitter">Twitter</a></li>
	<li><a class="lf-sprite-google" href="https://plus.google.com/share?url={{url}}"
               title="Share on Google+">Google+</a></li>
	<li><a class="lf-sprite-facebook" href="https://www.facebook.com/sharer.php?u={{url}}&t={{title}}"
               title="Share on Facebook">Facebook</a></li>
	<li><a class="lf-sprite-reddit" href="https://www.reddit.com/submit?url={{url}}&title={{title}}"
               title="Share on reddit">reddit</a></li>
	<li><a class="lf-sprite-hackernews" href="https://news.ycombinator.com/submitlink?u={{url}}&t={{title}}"
               title="Share on Hacker News">Hacker News</a></li>
	<li><a class="lf-sprite-mail" href="mailto:?subject={{title}}&body={{url}}"
               title="Share by mail">Mail</a></li>
    </ul>
</div>
